/* banner */
	
#home-page .banner {
	display: block;
	background-image: url('/assets/image/home/banner-1.jpg');
	background-color: #B1B1B1;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 60px 0px 30px 0px;
	text-align: center;
	color: white;
}
#home-page .banner img {
	display: block;
	width: 220px;
	margin: 0px auto 40px auto;
}
#home-page .banner h1{
	font-size: 54px;
	font-weight: 700;
	margin: 0px auto 40px auto;
	padding: 0px;
}
#home-page .banner .button{
	display: block;
	background-color: #D40032;
	width: 220px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: white;
	margin: 0 auto;
	padding: 10px;
	border-width: 0px;
	border-radius: 3px;
	border-style: solid;
	transition: background-color 0.2s;
}
#home-page .banner .button:hover{
	display: block;
	background-color: #BB0020;
	width: 220px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: white;
	margin: 0 auto;
	padding: 10px;
	border-width: 0px;
	border-radius: 3px;
	border-style: solid;
	cursor: pointer;
}
@media only screen and (max-width: 999px) and (min-width: 800px) {
	#home-page .banner {
		margin: 0px 0px 0px 0px;
		padding: 60px 0px 30px 0px;
	}
	#home-page .banner img {
		display: block;
		width: 200px;
		margin: 0px auto 40px auto;
	}
	#home-page .banner h1{
		width: 90%;
		font-size: 48px;
		font-weight: 700;
		margin: 0px auto 40px auto;
		padding: 0px;
	}
	#home-page .banner .button{
		width: 200px;
		font-size: 16px;
		margin: 0 auto;
		padding: 10px;
	}
	#home-page .banner .button:hover{
		width: 200px;
		font-size: 16px;
		margin: 0 auto;
		padding: 10px;
	}
}
@media only screen and (max-width: 799px) and (min-width: 600px) {
	#home-page .banner {
		margin: 0px 0px 0px 0px;
		padding: 60px 0px 30px 0px;
	}
	#home-page .banner img {
		display: block;
		width: 200px;
		margin: 0px auto 40px auto;
	}
	#home-page .banner h1{
		width: 90%;
		font-size: 42px;
		font-weight: 700;
		margin: 0px auto 40px auto;
		padding: 0px;
	}
	#home-page .banner .button{
		width: 200px;
		font-size: 16px;
		margin: 0 auto;
		padding: 10px;
	}
	#home-page .banner .button:hover{
		width: 200px;
		font-size: 16px;
		margin: 0 auto;
		padding: 10px;
	}
}
@media only screen and (max-width: 599px) and (min-width: 400px) {
	#home-page .banner {
		margin: 0px 0px 0px 0px;
		padding: 60px 0px 30px 0px;
	}
	#home-page .banner img {
		display: block;
		width: 180px;
		margin: 0px auto 40px auto;
	}
	#home-page .banner h1{
		width: 90%;
		font-size: 38px;
		font-weight: 700;
		margin: 0px auto 40px auto;
		padding: 0px;
	}
	#home-page .banner .button{
		width: 180px;
		font-size: 14px;
		margin: 0 auto;
		padding: 10px;
	}
	#home-page .banner .button:hover{
		width: 180px;
		font-size: 14px;
		margin: 0 auto;
		padding: 10px;
	}
}
@media only screen and (max-width: 399px) {
	#home-page .banner {
		margin: 0px 0px 0px 0px;
		padding: 60px 0px 30px 0px;
	}
	#home-page .banner img {
		display: block;
		width: 180px;
		margin: 0px auto 40px auto;
	}
	#home-page .banner h1{
		width: 90%;
		font-size: 32px;
		font-weight: 700;
		margin: 0px auto 40px auto;
		padding: 0px;
	}
	#home-page .banner .button{
		width: 180px;
		font-size: 14px;
		margin: 0 auto;
		padding: 10px;
	}
	#home-page .banner .button:hover{
		width: 180px;
		font-size: 14px;
		margin: 0 auto;
		padding: 10px;
	}
}

/* banner end */