@media only screen and (min-width: 600px){
  .answer-box{
    position: absolute;
    width: 440px;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px;
  }
  .answer-form{
    display: block;
    background-color: white;
    width: 400px;
    margin: 0px;
    padding: 15px 20px 20px 20px;
    border: 0px solid;
    border-radius: 0px 0px 3px 3px;
    color: #5f5f5f;
  }
  .answer-form textarea{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 14px;
  }
  .answer-form textarea:focus{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 14px;
  }
  .answer-form input[type=email], .answer-form input[type=text]{
    display: block;
    background-color: white;
    width: calc(100% - 10px);
    margin: 5px 0px 0px 0px;
    padding: 5px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 14px;
  }
  .answer-form input[type=email]:focus, .answer-form input[type=text]:focus{
    display: block;
    background-color: white;
    width: calc(100% - 10px);
    margin: 5px 0px 0px 0px;
    padding: 5px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 14px;
  }
  .answer-form input[type=submit]{
    width: 100%;
    height: 50px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 20px auto;
    transition: background-color 0.2s;
  }
  .answer-form input[type=submit]:hover{
    width: 100%;
    height: 50px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
  }
  .answer-form-top{
    display: block;
    background-color: white;
    width: 400px;
    margin: 0px;
    padding: 20px 20px 5px 20px;
    border: 0px solid;
    border-radius: 3px 3px 0px 0px;
    color: #5f5f5f;
  }
  .answer-form-avatar{
    display: inline-block;
    background-color: #E7ECF3;
    width: 100px;
    height: 100px;
    margin: 0px;
    vertical-align: top;
  }
  .answer-form-title{
    display: inline-block;
    width: calc(99% - 110px);
    margin: 0px 0px 0px 10px;
    vertical-align: -50px;
  }
  .answer-form-title p{
    font-size: 26px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
  }
}
@media only screen and (max-width: 599px) and (min-width: 400px){
  .answer-box{
    position: absolute;
    width: 340px;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px;
  }
  .answer-form{
    display: block;
    background-color: white;
    width: 300px;
    margin: 0px;
    padding: 10px 20px 20px 20px;
    border: 0px solid;
    border-radius: 0px 0px 3px 3px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form textarea{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form textarea:focus{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form input[type=email], .answer-form input[type=text]{
    display: block;
    background-color: white;
    width: calc(100% - 10px);
    margin: 0px;
    padding: 3px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form input[type=email]:focus, .answer-form input[type=text]:focus{
    display: block;
    background-color: white;
    width: calc(100% - 10px);
    margin: 0px;
    padding: 3px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form input[type=submit]{
    width: 100%;
    height: 40px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 0px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    transition: background-color 0.2s;
  }
  .answer-form input[type=submit]:hover{
    width: 100%;
    height: 40px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
  }
  .answer-form-top{
    display: block;
    background-color: white;
    width: 300px;
    margin: 0px;
    padding: 20px 20px 5px 20px;
    border: 0px solid;
    border-radius: 3px 3px 0px 0px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form-avatar{
    display: inline-block;
    background-color: #E7ECF3;
    width: 60px;
    height: 60px;
    margin: 0px;
    vertical-align: top;
  }
  .answer-form-title{
    display: inline-block;
    width: calc(99% - 80px);
    margin: 0px 0px 0px 10px;
    vertical-align: -35px;
  }
  .answer-form-title p{
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
  }
}
@media only screen and (max-width: 399px){
  .answer-box{
    position: absolute;
    width: 220px;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px;
  }
  .answer-form{
    display: block;
    background-color: white;
    width: 210px;
    margin: 0px;
    padding: 5px;
    border: 0px solid;
    border-radius: 0px 0px 3px 3px;
    color: #5f5f5f;
    font-size: 10px;
  }
  .answer-form textarea{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 10px;
  }
  .answer-form textarea:focus{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 10px;
  }
  .answer-form input[type=email], .answer-form input[type=text]{
    display: block;
    background-color: white;
    width: calc(100% - 10px);
    margin: 5px 0px 0px 0px;
    padding: 2px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 10px;
    transition: border 0.2s;
  }
  .answer-form input[type=email]:focus, .answer-form input[type=text]:focus{
    display: block;
    background-color: white;
    width: calc(100% - 10px);
    margin: 5px 0px 0px 0px;
    padding: 5px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 10px;
  }
  .answer-form input[type=submit]{
    width: 100%;
    height: 40px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    transition: background-color 0.2s;
  }
  .answer-form input[type=submit]:hover{
    width: 100%;
    height: 40px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
  }
  .answer-form-top{
    display: block;
    background-color: white;
    width: 180px;
    margin: 0px;
    padding: 20px 20px 5px 20px;
    border: 0px solid;
    border-radius: 3px 3px 0px 0px;
    color: #5f5f5f;
    font-size: 10px;
  }
  .answer-form-avatar{
    display: inline-block;
    background-color: #E7ECF3;
    width: 50px;
    height: 50px;
    margin: 0px;
    vertical-align: top;
  }
  .answer-form-title{
    display: inline-block;
    width: calc(99% - 80px);
    margin: 0px 0px 0px 2px;
    vertical-align: -35px;
    font-size: 12px;
  }
  .answer-form-title p{
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
  }
}