#contest-answer form .rating-selection label:first-of-type {
  display: none;
}
#contest-answer form .rating-selection input[type='radio'],
#contest-answer form .rating-selection span {
  display: none;
}
#contest-answer form .rating-selection label {
  cursor: pointer;
}
#contest-answer form .rating-selection input:checked + label ~ label:before {
  color: #aaa;
}
#contest-answer form .rating-selection:hover label[for]:before {
  color: #e9cd10;
}
#contest-answer form .rating-selection:hover label:hover ~ label:before {
  color: #aaa;
}

@media only screen and (min-width: 400px) {
    #contest-answer {
        width: 360px;
        margin: 0 auto;
        padding: 0px;
    }
    #contest-answer .contest-opinion-top {
        display: block;
        width: 360px;
        padding: 19px 0px;
        margin: 0 auto;
    }
    #contest-answer .contest-opinion-block-title{
        display: block;
        width: 360px;
        margin: 20px 0px 4px 0px;
        padding: 0px;
        font-size: 12px;
        text-align: center;
        opacity: 0.5;
    }
    #contest-answer .contest-opinion-promotor-info {
        display: block;
        width: 360px;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    #contest-answer .contest-opinion-promotor-info span{
        display: inline-block;
        width: 294px;
        padding: 0px;
        margin: 0px 4px;
        font-size: 26px;
        font-weight: 700;
        vertical-align: middle;
    }
    #contest-answer .contest-opinion-avatar{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0px;
        vertical-align: middle;
    }

    #contest-answer .contest-opinion-action-name{
        display: block;
        width: 360px;
        margin: 0px 0px 10px 0px;
        font-size: 34px;
        font-weight: 700;
        text-align: center;
    }

    #contest-answer form {
        width: 360px;
        margin: 10px auto;
        padding: 0px;
    }
    #contest-answer .question {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin: 10px 0px;
        padding: 0px;
    }
    #contest-answer form input[type=email]{
        display: block;
        width: 332px;
        font-size: 16px;
        text-align: left;
        color: #47525D;
        margin: 0 auto;
        padding: 12px 12px;
        border-width: 2px;
        border-radius: 3px;
        border-color: #FFFFFF;
        border-style: solid;
        transition: border-color 0.2s;
    }
    #contest-answer form input[type=email]:focus{
        display: block;
        width: 332px;
        font-size: 16px;
        text-align: left;
        color: #47525D;
        margin: 0 auto;
        padding: 12px 12px;
        border-width: 2px;
        border-radius: 3px;
        border-color: #2895F1;
        border-style: solid;
    }
    #contest-answer form textarea{
        display: block;
        width: 332px;
        font-size: 16px;
        text-align: left;
        color: #47525D;
        margin: 4px auto;
        padding: 12px 12px;
        border-width: 2px;
        border-radius: 3px;
        border-color: #FFFFFF;
        border-style: solid;
        transition: border-color 0.2s;
    }
    #contest-answer form textarea:focus{
        display: block;
        width: 332px;
        font-size: 16px;
        text-align: left;
        color: #47525D;
        margin: 4px auto;
        padding: 12px 12px;
        border-width: 2px;
        border-radius: 3px;
        border-color: #2895F1;
        border-style: solid;
    }
    #contest-answer form input[type=submit]{
        display: block;
        width: 360px;
        height: 54px;
        background-color: #53BE31;
        border: 0px solid;
        border-radius: 3px;
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        transition: background-color 0.2s;
    }
    #contest-answer form input[type=submit]:hover{
        display: block;
        width: 360px;
        height: 54px;
        background-color: #68d049;
        border: 0px solid;
        border-radius: 3px;
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }
    #contest-answer form input[type=submit]:disabled{
        display: block;
        width: 360px;
        height: 54px;
        background-color: #BFBFBF;
        border: 0px solid;
        border-radius: 3px;
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        transition: background-color 0.2s;
    }
    #contest-answer form input[name=agreement]{
        display: inline-block;
        width: 4%;
        margin: 0px;
        padding: 0px;
        vertical-align: middle;
    }
    #contest-answer .note {
        display: inline-block;
        width: 94%;
        font-size: 10px;
        margin: 0px;
        padding: 0px;
        vertical-align: middle;
    }
    #contest-answer form .rating-selection {
        display: block;
        margin: 0px auto 20px auto;
        padding: 0px;
        text-align: center;
    }
    #contest-answer form .rating-selection label:before {
        display: inline-block;
        content: "★";
        font-size: 76px;
        letter-spacing: 0px;
        color: #e9cd10;
        text-align: center;
    }
}
@media only screen and (max-width: 399px) {
    #contest-answer {
        width: 90%;
        margin: 0 auto;
        padding: 0px;
    }
    #contest-answer .contest-opinion-top {
        display: block;
        width: 90%;
        padding: 5% 0px;
        margin: 0 auto;
    }
    #contest-answer .contest-opinion-block-title{
        display: block;
        width: 100%;
        margin: 20px 0px 4px 0px;
        padding: 0px;
        font-size: 12px;
        text-align: center;
        opacity: 0.5;
    }
    #contest-answer .contest-opinion-promotor-info {
        display: block;
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    #contest-answer .contest-opinion-promotor-info span{
        display: inline-block;
        width: calc(100% - 64px);
        padding: 0px;
        margin: 0px 4px;
        font-size: 26px;
        font-weight: 700;
        vertical-align: middle;
    }
    #contest-answer .contest-opinion-avatar{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0px;
        vertical-align: middle;
    }

    #contest-answer .contest-opinion-action-name{
        display: block;
        width: 100%;
        margin: 0px 0px 10px 0px;
        font-size: 34px;
        font-weight: 700;
        text-align: center;
    }

    #contest-answer form {
        width: 100%;
        margin: 10px auto;
        padding: 0px;
    }
    #contest-answer .question {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin: 10px 0px;
        padding: 0px;
    }
    #contest-answer form input[type=email]{
        display: block;
        width: calc(100% - 28px);
        font-size: 16px;
        text-align: left;
        color: #47525D;
        margin: 0 auto;
        padding: 12px 12px;
        border-width: 2px;
        border-radius: 3px;
        border-color: #FFFFFF;
        border-style: solid;
        transition: border-color 0.2s;
    }
    #contest-answer form input[type=email]:focus{
        display: block;
        width: calc(100% - 28px);
        font-size: 16px;
        text-align: left;
        color: #47525D;
        margin: 0 auto;
        padding: 12px 12px;
        border-width: 2px;
        border-radius: 3px;
        border-color: #2895F1;
        border-style: solid;
    }
    #contest-answer form textarea{
        display: block;
        width: calc(100% - 28px);
        font-size: 16px;
        text-align: left;
        color: #47525D;
        margin: 4px auto;
        padding: 12px 12px;
        border-width: 2px;
        border-radius: 3px;
        border-color: #FFFFFF;
        border-style: solid;
        transition: border-color 0.2s;
    }
    #contest-answer form textarea:focus{
        display: block;
        width: calc(100% - 28px);
        font-size: 16px;
        text-align: left;
        color: #47525D;
        margin: 4px auto;
        padding: 12px 12px;
        border-width: 2px;
        border-radius: 3px;
        border-color: #2895F1;
        border-style: solid;
    }
    #contest-answer form input[type=submit]{
        display: block;
        width: 100%;
        height: 54px;
        background-color: #53BE31;
        border: 0px solid;
        border-radius: 3px;
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        transition: background-color 0.2s;
    }
    #contest-answer form input[type=submit]:hover{
        display: block;
        width: 100%;
        height: 54px;
        background-color: #68d049;
        border: 0px solid;
        border-radius: 3px;
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }
    #contest-answer form input[type=submit]:disabled{
        display: block;
        width: 100%;
        height: 54px;
        background-color: #BFBFBF;
        border: 0px solid;
        border-radius: 3px;
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        transition: background-color 0.2s;
    }
    #contest-answer form input[name=agreement]{
        display: inline-block;
        width: 4%;
        margin: 0px;
        padding: 0px;
        vertical-align: middle;
    }
    #contest-answer .note {
        display: inline-block;
        width: 94%;
        font-size: 10px;
        margin: 0px;
        padding: 0px;
        vertical-align: middle;
    }
    #contest-answer form .rating-selection {
        display: block;
        margin: 0px auto 20px auto;
        padding: 0px;
        text-align: center;
    }
    #contest-answer form .rating-selection label:before {
        display: inline-block;
        content: "★";
        font-size: 56px;
        letter-spacing: 0px;
        color: #e9cd10;
        text-align: center;
    }
}




/*@media only screen and (min-width: 600px){
  .answer-box{
    position: absolute;
    width: 440px;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px;
  }
  .answer-form{
    display: block;
    background-color: white;
    width: 400px;
    margin: 0px;
    padding: 15px 20px 20px 20px;
    border: 0px solid;
    border-radius: 0px 0px 3px 3px;
    color: #5f5f5f;
  }
  .answer-form textarea{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 14px;
  }
  .answer-form textarea:focus{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 14px;
  }
  .answer-form input[type=email], .answer-form input[type=text]{
    display: block;
    background-color: white;
    width: calc(100% - 12px);
    margin: 5px 0px 0px 0px;
    padding: 5px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 14px;
  }
  .answer-form input[type=email]:focus, .answer-form input[type=text]:focus{
    display: block;
    background-color: white;
    width: calc(100% - 12px);
    margin: 5px 0px 0px 0px;
    padding: 5px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 14px;
  }
  div#answer-form-phone-number{
    display: inline-block;
    float: left;
    width: 10%;
    margin: 5px 0px 0px 0px;
    padding: 8px 0px 9px 0px;
    border-top: 1px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 1px;
    border-radius: 3px 0px 0px 3px;
    border-color: #E0E9F2;
    border-style: solid;
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
  input#answer-form-phone-number{
    display: inline-block;
    float: left;
    width: calc(90% - 2px);
    margin: 5px 0px 0px 0px;
    padding: 5px 0px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-radius: 0px 3px 3px 0px;
    border-color: #E0E9F2;
    border-style: solid;
    color: #5f5f5f;
    font-size: 14px;
  }

  .answer-form input[type=submit]{
    width: 100%;
    height: 50px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 20px auto;
    transition: background-color 0.2s;
  }
  .answer-form input[type=submit]:hover{
    width: 100%;
    height: 50px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
  }
  .answer-form input[type=submit]:disabled{
    width: 100%;
    height: 50px;
    background-color: #BFBFBF;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 20px auto;
    cursor: default;
  }

  .answer-form input[type=button]{
    width: 100%;
    height: 50px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 20px auto;
    transition: background-color 0.2s;
  }
  .answer-form input[type=button]:hover{
    width: 100%;
    height: 50px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
  }
  .answer-form input[type=button]:disabled{
    width: 100%;
    height: 50px;
    background-color: #BFBFBF;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 20px auto;
    cursor: default;
  }

  .answer-form-top{
    display: block;
    background-color: white;
    width: 400px;
    margin: 0px;
    padding: 20px 20px 5px 20px;
    border: 0px solid;
    border-radius: 3px 3px 0px 0px;
    color: #5f5f5f;
  }
  .answer-form-avatar{
    display: inline-block;
    background-color: #E7ECF3;
    width: 100px;
    height: 100px;
    margin: 0px;
    vertical-align: top;
  }
  .answer-form-title{
    display: inline-block;
    width: calc(99% - 110px);
    margin: 0px 0px 0px 10px;
    vertical-align: -50px;
  }
  .answer-form-title p{
    font-size: 26px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
  }
  .rating_selection label:before {
    display: inline-block;
    content: "★";
    font-size: 60px;
    letter-spacing: 6px;
    color: #e9cd10;
  }
}
@media only screen and (max-width: 599px) and (min-width: 400px){
  .answer-box{
    position: absolute;
    width: 340px;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px;
  }
  .answer-form{
    display: block;
    background-color: white;
    width: 300px;
    margin: 0px;
    padding: 10px 20px 20px 20px;
    border: 0px solid;
    border-radius: 0px 0px 3px 3px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form textarea{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form textarea:focus{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form input[type=email], .answer-form input[type=text]{
    display: block;
    background-color: white;
    width: calc(100% - 8px);
    margin: 0px;
    padding: 3px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form input[type=email]:focus, .answer-form input[type=text]:focus{
    display: block;
    background-color: white;
    width: calc(100% - 8px);
    margin: 0px;
    padding: 3px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 12px;
  }
  div#answer-form-phone-number{
    display: inline-block;
    float: left;
    width: 10%;
    margin: 5px 0px 0px 0px;
    padding: 8px 0px;
    border-top: 1px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 1px;
    border-radius: 3px 0px 0px 3px;
    border-color: #E0E9F2;
    border-style: solid;
    color: #5f5f5f;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
  }
  input#answer-form-phone-number{
    display: inline-block;
    float: left;
    width: calc(90% - 2px);
    margin: 5px 0px 0px 0px;
    padding: 3px 0px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-radius: 0px 3px 3px 0px;
    border-color: #E0E9F2;
    border-style: solid;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form input[type=submit]{
    width: 100%;
    height: 40px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    transition: background-color 0.2s;
  }
  .answer-form input[type=submit]:hover{
    width: 100%;
    height: 40px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
  }
  .answer-form input[type=submit]:disabled{
    width: 100%;
    height: 40px;
    background-color: #BFBFBF;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    cursor: default;
  }

  .answer-form input[type=button]{
    width: 100%;
    height: 40px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    transition: background-color 0.2s;
  }
  .answer-form input[type=button]:hover{
    width: 100%;
    height: 40px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
  }
  .answer-form input[type=button]:disabled{
    width: 100%;
    height: 40px;
    background-color: #BFBFBF;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    cursor: default;
  }

  .answer-form-top{
    display: block;
    background-color: white;
    width: 300px;
    margin: 0px;
    padding: 20px 20px 5px 20px;
    border: 0px solid;
    border-radius: 3px 3px 0px 0px;
    color: #5f5f5f;
    font-size: 12px;
  }
  .answer-form-avatar{
    display: inline-block;
    background-color: #E7ECF3;
    width: 60px;
    height: 60px;
    margin: 0px;
    vertical-align: top;
  }
  .answer-form-title{
    display: inline-block;
    width: calc(99% - 80px);
    margin: 0px 0px 0px 10px;
    vertical-align: -35px;
  }
  .answer-form-title p{
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
  }
  .rating_selection label:before {
    display: inline-block;
    content: "★";
    font-size: 50px;
    letter-spacing: 6px;
    color: #e9cd10;
  }
}
@media only screen and (max-width: 399px){
  .answer-box{
    position: absolute;
    width: 220px;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px;
  }
  .answer-form{
    display: block;
    background-color: white;
    width: 210px;
    margin: 0px;
    padding: 5px;
    border: 0px solid;
    border-radius: 0px 0px 3px 3px;
    color: #5f5f5f;
    font-size: 10px;
  }
  .answer-form textarea{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 10px;
  }
  .answer-form textarea:focus{
    display: block;
    background-color: white;
    width: calc(100% - 22px);
    margin: 5px 0px 0px 0px;
    padding: 10px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 10px;
  }
  .answer-form input[type=email], .answer-form input[type=text]{
    display: block;
    background-color: white;
    width: calc(100% - 6px);
    margin: 5px 0px 0px 0px;
    padding: 2px;
    border: 1px solid #E0E9F2;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 10px;
    transition: border 0.2s;
  }
  .answer-form input[type=email]:focus, .answer-form input[type=text]:focus{
    display: block;
    background-color: white;
    width: calc(100% - 6px);
    margin: 5px 0px 0px 0px;
    padding: 2px;
    border: 1px solid #2895F1;
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 10px;
  }
  div#answer-form-phone-number{
    display: inline-block;
    float: left;
    width: 10%;
    margin: 5px 0px 0px 0px;
    padding: 8px 0px;
    border-top: 1px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 1px;
    border-radius: 3px 0px 0px 3px;
    border-color: #E0E9F2;
    border-style: solid;
    color: #5f5f5f;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
  }
  input#answer-form-phone-number{
    display: inline-block;
    float: left;
    width: calc(90% - 2px);
    margin: 5px 0px 0px 0px;
    padding: 2px 0px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-radius: 0px 3px 3px 0px;
    border-color: #E0E9F2;
    border-style: solid;
    color: #5f5f5f;
    font-size: 10px;
  }

  .answer-form input[type=submit]{
    width: 100%;
    height: 40px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    transition: background-color 0.2s;
  }
  .answer-form input[type=submit]:hover{
    width: 100%;
    height: 40px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
  }
  .answer-form input[type=submit]:disabled{
    width: 100%;
    height: 40px;
    background-color: #BFBFBF;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    cursor: default;
  }

  .answer-form input[type=button]{
    width: 100%;
    height: 40px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    transition: background-color 0.2s;
  }
  .answer-form input[type=button]:hover{
    width: 100%;
    height: 40px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
  }
  .answer-form input[type=button]:disabled{
    width: 100%;
    height: 40px;
    background-color: #BFBFBF;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    cursor: default;
  }

  .answer-form-top{
    display: block;
    background-color: white;
    width: 180px;
    margin: 0px;
    padding: 20px 20px 5px 20px;
    border: 0px solid;
    border-radius: 3px 3px 0px 0px;
    color: #5f5f5f;
    font-size: 10px;
  }
  .answer-form-avatar{
    display: inline-block;
    background-color: #E7ECF3;
    width: 50px;
    height: 50px;
    margin: 0px;
    vertical-align: top;
  }
  .answer-form-title{
    display: inline-block;
    width: calc(99% - 80px);
    margin: 0px 0px 0px 2px;
    vertical-align: -35px;
    font-size: 12px;
  }
  .answer-form-title p{
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
  }
  .rating_selection label:before {
    display: inline-block;
    content: "★";
    font-size: 30px;
    letter-spacing: 6px;
    color: #e9cd10;
  }
}*/