/* App layout */
@media only screen and (min-width: 1000px){
    div#top{
        display: block;
        width: 98%;
        height: 80px;
        margin: 0px;
        padding: 0px 1%;
        text-align: right; 
        font-weight: bold;
        color: white;
        border-width: 0px 0px 2px 0px;
        border-color: #DCE6F0;
        border-style: solid;
    }
    div#container{
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    div#side_bar{
        display: inline-block;
        float: left;
        width: 18%;
        height: 80%;
        margin: 2% 0px auto 0px;
        padding: 0px;
    }
    div.show-menu{
        display: none;
    }
    div.hide-menu{
        display: none;
    }
    div#content{
        display: inline-block;
        min-height: calc(92vh - 40px);
        float: left;
        width: 81.8%;
        margin: 0px;
        padding: 0px 0px 40px 0px;
        border-width: 0px 0px 0px 2px;
        border-color: #DCE6F0;
        border-style: solid;
    }
    .set-password-info{
        display: block;
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 14%;
        background-color: #71AAFF;
        color: white;
        margin: 20px 0px 0px 0px;
        padding: 1% 2%;
        font-size: 14px;
        font-weight: 700;
    }
}
@media only screen and (max-width: 999px){
    div#top{
        display: block;
        width: 99%;
        height: 80px;
        margin: 0px;
        padding: 0px 1% 0px 0px; 
        font-weight: bold;
        color: white;
        border-width: 0px 0px 2px 0px;
        border-color: #DCE6F0;
        border-style: solid;
    }
    div#container{
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    div#side_bar{
        display: none;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        min-height: 100vh;
        margin: 0px;
        padding: 0px;
    }
    div.show-menu{
        display: inline-block;
        color: #626B74;
        font-size: 20px;
        font-weight: 400;
        margin: 30px 0px 30px 20px;
        float: left;
    }
    div.show-menu:hover{
        display: inline-block;
        color: #626B74;
        font-size: 20px;
        font-weight: 400;
        margin: 30px 0px 30px 20px;
        float: left;
        cursor: pointer;
    }
    div.hide-menu{
        display: block;
        color: #626B74;
        font-size: 20px;
        font-weight: 400;
        margin: 30px 20px;
    }
    div.hide-menu:hover{
        display: block;
        color: #626B74;
        font-size: 20px;
        font-weight: 400;
        margin: 30px 20px;
        cursor: pointer;
    }
    div#content{
        display: block;
        min-height: calc(92vh - 40px);
        width: 100%;
        margin: 0px;
        padding: 0px 0px 40px 0px;
        border-width: 0px 0px 0px 0px;
        border-color: #DCE6F0;
        border-style: solid;
    }
    .set-password-info{
        display: block;
        width: 96%;
        background-color: #71AAFF;
        color: white;
        margin: 0px 0px 0px 0px;
        padding: 1% 2%;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
}

