.client-order-error{
	color: #ff3333;
	font-size: 18px;
}
.client-balance{
	color: #53BE31;
	font-weight: 700;
}
.client-view-bottom-table {
	width: calc(100% - 20px);
	margin: 0px 10px;
}
.client-view-bottom-table tr{
	border: 0px;
}
.client-view-bottom-table td{
	width: 50%;
}
.client-view-bottom-table td:nth-child(2n + 2){
	text-align: right;
}
.client-view-item-box input[type=text].code-input {
	text-align: center;
}

/* Core of client view  */
@media only screen and (min-width: 1000px) {
	.client-view-title-box{
		width: calc(100% - 40px);
		font-weight: 700;
		font-size: 24px;
		margin: 0px 20px;
		padding: 20px 0px;
		vertical-align: middle;
	}
	i.client-view-title-icon {
		display: inline-block;
		font-size: 34px;
		margin: 0px 14px 0px 0px;
		padding: 0px;
		vertical-align: -2px;
	}
	.client-view-title-text{
	    display: inline;
	    text-align: left;
	    font-size: 24px;
	    margin: 0px;
	    padding: 0px;
	}
	.client-view-item-top{
		display: block;
		width: calc(100% - 64px);
		margin: 0px 20px;
		padding: 10px 10px;
		font-size: 22px;
		font-weight: 700;
		background-color: #dbe5f0;
		border: 2px solid #dbe5f0;
	}
	.client-view-item-box{
		width: calc(100% - 64px);
		margin: 0px 20px 20px 20px;
		padding: 10px 10px 20px 10px;
		background-color: white;
		border-width: 2px 2px 2px 2px;
		border-color: #E9EFF6;
		border-style: solid;
	}
	.client-view-item-button{
		display: inline-block;
		position: relative;
		top: -10px;
		float: right;
		color: white;
		margin: 0px 10px -10px 10px;
		padding: 10px 10px;
		background-color: #53BE31;
		font-size: 12px;
		font-weight: 700;
		border-width: 0px;
		border-radius: 0px 0px 3px 3px;
		border-style: solid;
		transition: background-color 0.2s;
	}
	.client-view-item-button:hover{
		display: inline-block;
		position: relative;
		top: -10px;
		float: right;
		color: white;
		margin: 0px 10px -10px 10px;
		padding: 10px 10px;
		background-color: #68d049;
		font-size: 12px;
		font-weight: 700;
		border-width: 0px;
		border-radius: 0px 0px 3px 3px;
		border-style: solid;
		vertical-align: middle;
		cursor: pointer;
	}
}
@media only screen and (max-width: 999px) {
	.client-view-title-box{
		width: calc(100% - 20px);
		font-weight: 700;
		font-size: 24px;
		margin: 0px;
		padding: 20px 10px;
		vertical-align: middle;
	}
	i.client-view-title-icon {
		display: inline-block;
		font-size: 34px;
		margin: 0px 14px 0px 0px;
		padding: 0px;
		vertical-align: -2px;
	}
	.client-view-title-text{
	    display: inline;
	    text-align: left;
	    font-size: 24px;
	    margin: 0px;
	    padding: 0px;
	}
	.client-view-item-top{
		display: block;
		width: calc(100% - 44px);
		margin: 0px 10px;
		padding: 10px 10px;
		font-size: 22px;
		font-weight: 700;
		background-color: #dbe5f0;
		border: 2px solid #dbe5f0;
	}
	.client-view-item-box{
		width: calc(100% - 44px);
		margin: 0px 10px 20px 10px;
		padding: 10px 10px 20px 10px;
		background-color: white;
		border-width: 2px 2px 2px 2px;
		border-color: #E9EFF6;
		border-style: solid;
	}
	.client-view-item-button{
		display: inline-block;
		position: relative;
		top: -10px;
		float: right;
		color: white;
		margin: 0px 10px -10px 10px;
		padding: 10px 10px;
		background-color: #53BE31;
		font-size: 10px;
		font-weight: 700;
		border-width: 0px;
		border-radius: 0px 0px 3px 3px;
		border-style: solid;
		transition: background-color 0.2s;
	}
	.client-view-item-button:hover{
		display: inline-block;
		position: relative;
		top: -10px;
		float: right;
		color: white;
		margin: 0px 10px -10px 10px;
		padding: 10px 10px;
		background-color: #68d049;
		font-size: 10px;
		font-weight: 700;
		border-width: 0px;
		border-radius: 0px 0px 3px 3px;
		border-style: solid;
		vertical-align: middle;
		cursor: pointer;
	}
}



/* Forms */
@media only screen and (min-width: 600px) {
	.client-view-item-box input[type=text]{
	    display: block;
	    font-size: 16px;
	    width: 380px;
	    border-width: 2px;
	    border-color:  #CBD0D4;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	    transition: border-color 0.2s;
	}
	.client-view-item-box input[type=text]:focus{
	    display: block;
	    font-size: 16px;
	    width: 380px;
	    border-width: 2px;
	    border-color:  #2895F1;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	}
	.client-view-item-box input[type=password]{
	    display: block;
	    font-size: 16px;
	    width: 380px;
	    border-width: 2px;
	    border-color:  #CBD0D4;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	    transition: border-color 0.2s;
	}
	.client-view-item-box input[type=password]:focus{
	    display: block;
	    font-size: 16px;
	    width: 380px;
	    border-width: 2px;
	    border-color:  #2895F1;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	}
	.client-view-item-box textarea{
	    display: block;
	    background-color: white;
	    font-size: 16px;
	    width: 380px;
	    margin: 5px 0px 10px 0px;
	    padding: 10px;
	    border: 2px solid #E0E9F2;
	    border-radius: 3px;
	    color: #5f5f5f;
	    font-size: 14px;
	}
	.client-view-item-box textarea:focus{
	    display: block;
	    background-color: white;
	    font-size: 16px;
	    width: 380px;
	    margin: 5px 0px 10px 0px;
	    padding: 10px;
	    border: 2px solid #2895F1;
	    border-radius: 3px;
	    color: #5f5f5f;
	    font-size: 14px;
	}

	.client-view-item-box input[type=submit]{
	    display: block;
	    width: 400px;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	    background-color: #007EE5;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    transition: background-color 0.2s;
	}
	.client-view-item-box input[type=submit]:hover{
		display: block;
		width: 400px;
		margin: 0px 0px 10px 0px;
		padding: 10px 0px;
	    background-color: #008cff;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    cursor: pointer;
	}
} 
@media only screen and (max-width: 599px) and (min-width: 400px) {
	.client-view-item-box input[type=text]{
	    display: block;
	    font-size: 16px;
	    width: calc(100% - 20px);
	    max-width: 380px;
	    border-width: 2px;
	    border-color:  #CBD0D4;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	    transition: border-color 0.2s;
	}
	.client-view-item-box input[type=text]:focus{
	    display: block;
	    font-size: 16px;
	    width: calc(100% - 20px);
	    max-width: 380px;
	    border-width: 2px;
	    border-color:  #2895F1;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	}
	.client-view-item-box input[type=password]{
	    display: block;
	    font-size: 16px;
	    width: calc(100% - 20px);
	    max-width: 380px;
	    border-width: 2px;
	    border-color:  #CBD0D4;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	    transition: border-color 0.2s;
	}
	.client-view-item-box input[type=password]:focus{
	    display: block;
	    font-size: 16px;
	    width: calc(100% - 20px);
	    max-width: 380px;
	    border-width: 2px;
	    border-color:  #2895F1;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	}
	.client-view-item-box textarea{
	    display: block;
	    background-color: white;
	    font-size: 16px;
	    width: calc(100% - 24px);
	    max-width: 380px;
	    margin: 5px 0px 10px 0px;
	    padding: 10px;
	    border: 2px solid #E0E9F2;
	    border-radius: 3px;
	    color: #5f5f5f;
	    font-size: 14px;
	}
	.client-view-item-box textarea:focus{
	    display: block;
	    background-color: white;
	    font-size: 16px;
	    width: calc(100% - 24px);
	    max-width: 380px;
	    margin: 5px 0px 10px 0px;
	    padding: 10px;
	    border: 2px solid #2895F1;
	    border-radius: 3px;
	    color: #5f5f5f;
	    font-size: 14px;
	}

	.client-view-item-box input[type=submit]{
	    display: block;
	    width: 100%;
	    max-width: 400px;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	    background-color: #007EE5;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    transition: background-color 0.2s;
	}
	.client-view-item-box input[type=submit]:hover{
		display: block;
		width: 100%;
		max-width: 400px;
		margin: 0px 0px 10px 0px;
		padding: 10px 0px;
	    background-color: #008cff;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    cursor: pointer;
	}
} 
@media only screen and (max-width: 399px){
	.client-view-item-box input[type=text]{
	    display: block;
	    font-size: 16px;
	    width: calc(100% - 20px);
	    border-width: 2px;
	    border-color:  #CBD0D4;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	    transition: border-color 0.2s;
	}
	.client-view-item-box input[type=text]:focus{
	    display: block;
	    font-size: 16px;
	    width: calc(100% - 20px);
	    border-width: 2px;
	    border-color:  #2895F1;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	}
	.client-view-item-box input[type=password]{
	    display: block;
	    font-size: 16px;
	    width: calc(100% - 20px);
	    border-width: 2px;
	    border-color:  #CBD0D4;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	    transition: border-color 0.2s;
	}
	.client-view-item-box input[type=password]:focus{
	    display: block;
	    font-size: 16px;
	    width: calc(100% - 20px);
	    border-width: 2px;
	    border-color:  #2895F1;
	    border-radius: 3px;
	    border-style: solid;
	    margin: 10px 0px;
	    padding: 8px 8px;
	}
	.client-view-item-box textarea{
	    display: block;
	    background-color: white;
	    font-size: 16px;
	    width: calc(100% - 24px);
	    margin: 5px 0px 10px 0px;
	    padding: 10px;
	    border: 2px solid #E0E9F2;
	    border-radius: 3px;
	    color: #5f5f5f;
	    font-size: 14px;
	}
	.client-view-item-box textarea:focus{
	    display: block;
	    background-color: white;
	    font-size: 16px;
	    width: calc(100% - 24px);
	    margin: 5px 0px 10px 0px;
	    padding: 10px;
	    border: 2px solid #2895F1;
	    border-radius: 3px;
	    color: #5f5f5f;
	    font-size: 14px;
	}

	.client-view-item-box input[type=submit]{
	    display: block;
	    width: 100%;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	    background-color: #007EE5;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    transition: background-color 0.2s;
	}
	.client-view-item-box input[type=submit]:hover{
		display: block;
		width: 100%;
		margin: 0px 0px 10px 0px;
		padding: 10px 0px;
	    background-color: #008cff;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    cursor: pointer;
	}
} 

/* Top */
.client-view-reward-top {
	display: block;
	width: calc(100% - 20px);
	padding: 20px 10px 10px 10px;
}
.client-view-reward-top .promotor-name{
	font-size: 28px;
	font-weight: 700;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
.client-view-reward-top p{
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

/* Rewards */
@media only screen and (min-width: 600px) {
	.client-view-reward-box {
		display: inline-block;
		background-color: white;
		width: 236px;
		height: 440px;
		margin: 20px 0px 20px 10px;
		padding: 20px;
		border-width: 2px;
		border-color: #E9EFF6;
		border-style: solid;
	}
	.client-view-reward-box img.reward-img {
		width: auto;
		height: auto;
		max-width: 256px;
		max-height: 256px;
		margin: 0 auto;
	}
	.client-view-reward-box div.reward-img {
		background-color: #DFDFDF;
		width: 240px;
		height: 240px;
		line-height: 240px;
		text-align: center;
		margin: 0 auto;
		padding: 0px;
	}
	.client-view-reward-box div.reward-img  i{
		font-size: 80px;
		vertical-align: middle;
	}
	.client-view-reward-box .name {
		font-size: 18px;
		font-weight: 700;
		margin: 0px;
		padding: 10px 0px;
	}
	.client-view-reward-box .description {
		display: block;
		width: 236px;
		height: 80px;
		font-size: 14px;
		margin: 0px;
		padding: 10px 0px;
	}
	.client-view-reward-box .button {
		display: inline-block;
		background-color: #007EE5;
		width: 136px;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		color: white;
		margin: 0px;
		padding: 10px 0px;
		border-width: 0px;
		border-radius: 3px;
		border-style: solid;
		vertical-align: middle;
		transition: background-color 0.2s;
	}
	.client-view-reward-box .button:hover {
		display: inline-block;
		background-color: #008cff;
		width: 136px;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		color: white;
		margin: 0px;
		padding: 10px 0px;
		border-width: 0px;
		border-radius: 3px;
		border-style: solid;
		vertical-align: middle;
		cursor: pointer;
	}
	.client-view-reward-box .prize {
		display: inline-block;
		width: 90px;
		font-size: 16px;
		font-weight: 700;
		text-align: right;
		color: #53BE31;
		margin: 0px 0px 0px 6px;
		padding: 10px 0px;
		border-width: 0px;
		border-radius: 3px;
		border-style: solid;
		vertical-align: middle;
	}
}
@media only screen and (max-width: 599px) and (min-width: 400px){
	.client-view-reward-box {
		display: block;
		background-color: white;
		width: calc(100% -20px);
		margin: 20px 10px;
		padding: 20px;
		border-width: 2px;
		border-color: #E9EFF6;
		border-style: solid;
	}
	.client-view-reward-box img.reward-img {
		display: inline-block;
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 100px;
		margin: 0px 0px 10px 0px;
	}
	.client-view-reward-box div.reward-img {
		display: inline-block;
		background-color: #DFDFDF;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		margin: 0px 0px 10px 0px;
		padding: 0px;
	}
	.client-view-reward-box div.reward-img  i{
		font-size: 50px;
		vertical-align: middle;
	}
	.client-view-reward-box .details {
		display: inline-block;
		width: calc(100% - 124px);
		margin: 0px 0px 0px 0px;
		padding: 0px 10px;
		vertical-align: top;
	}
	.client-view-reward-box .name {
		display: block;
		font-size: 18px;
		font-weight: 700;
		margin: 0px;
		padding: 0px 0px;
	}
	.client-view-reward-box .description {
		display: block;
		font-size: 14px;
		margin: 0px;
		padding: 10px 0px;
	}
	.client-view-reward-box .button {
		display: inline-block;
		background-color: #007EE5;
		width: 140px;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		color: white;
		margin: 0px;
		padding: 10px 0px;
		border-width: 0px;
		border-radius: 3px;
		border-style: solid;
		vertical-align: middle;
		transition: background-color 0.2s;
	}
	.client-view-reward-box .button:hover {
		display: inline-block;
		background-color: #008cff;
		width: 140px;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		color: white;
		margin: 0px;
		padding: 10px 0px;
		border-width: 0px;
		border-radius: 3px;
		border-style: solid;
		vertical-align: middle;
		cursor: pointer;
	}
	.client-view-reward-box .prize {
		display: inline-block;
		width: calc(100% - 160px);
		font-size: 16px;
		font-weight: 700;
		text-align: right;
		color: #53BE31;
		margin: 0px 0px 0px 10px;
		padding: 10px 0px;
		border-width: 0px;
		border-radius: 3px;
		border-style: solid;
		vertical-align: middle;
	}
}
@media only screen and (max-width: 399px) {
	.client-view-reward-box {
		display: block;
		background-color: white;
		width: calc(100% -20px);
		margin: 20px 10px;
		padding: 20px;
		border-width: 2px;
		border-color: #E9EFF6;
		border-style: solid;
	}
	.client-view-reward-box img.reward-img {
		display: block;
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 100px;
		margin: 0px 0px 10px 0px;
	}
	.client-view-reward-box div.reward-img {
		display: block;
		background-color: #DFDFDF;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		margin: 0px 0px 10px 0px;
		padding: 0px;
	}
	.client-view-reward-box div.reward-img  i{
		font-size: 50px;
		vertical-align: middle;
	}
	.client-view-reward-box .details {
		display: block;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px;
		vertical-align: top;
	}
	.client-view-reward-box .name {
		display: block;
		font-size: 18px;
		font-weight: 700;
		margin: 0px;
		padding: 0px 0px;
	}
	.client-view-reward-box .description {
		display: block;
		font-size: 14px;
		margin: 0px;
		padding: 10px 0px;
	}
	.client-view-reward-box .button {
		display: inline-block;
		background-color: #007EE5;
		width: 140px;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		color: white;
		margin: 0px;
		padding: 10px 0px;
		border-width: 0px;
		border-radius: 3px;
		border-style: solid;
		vertical-align: middle;
		transition: background-color 0.2s;
	}
	.client-view-reward-box .button:hover {
		display: inline-block;
		background-color: #008cff;
		width: 140px;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		color: white;
		margin: 0px;
		padding: 10px 0px;
		border-width: 0px;
		border-radius: 3px;
		border-style: solid;
		vertical-align: middle;
		cursor: pointer;
	}
	.client-view-reward-box .prize {
		display: inline-block;
		width: calc(100% - 160px);
		font-size: 16px;
		font-weight: 700;
		text-align: right;
		color: #53BE31;
		margin: 0px 0px 0px 10px;
		padding: 10px 0px;
		border-width: 0px;
		border-radius: 3px;
		border-style: solid;
		vertical-align: middle;
	}
}

/* Order form */
@media only screen and (min-width: 600px) {
	.client-view-order-box{
		width: calc(100% - 64px);
		margin: 0px 10px 20px 10px;
		padding: 10px 20px 10px 20px;
		background-color: white;
		border-width: 2px 2px 2px 2px;
		border-color: #E9EFF6;
		border-style: solid;
	}
	.client-view-order-box .promotor{
		font-size: 24px;
		font-weight: 700;
		margin: 0px 0px 30px 0px;
		padding: 0px;
	}
	.client-view-order-box .reward-info{
		display: block;
		width: 100%;
		margin: 10px 0px 10px 0px;
		padding: 0px;
	}
	.client-view-order-box img.reward-img{
		display: inline-block;
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 100px;
		margin: 0px auto 10px auto;
		padding: 0px;
		vertical-align: middle;
	}
	.client-view-order-box div.reward-img{
		display: inline-block;
		background-color: #DFDFDF;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		margin: 0px 0px 10px 0px;
		padding: 0px;
		vertical-align: middle;
	}
	.client-view-order-box div.reward-img i{
		font-size: 56px;
		vertical-align: middle;
	}
	.client-view-order-box .reward-name{
		display: inline-block;
		width: calc(100% - 124px);
		font-size: 24px;
		font-weight: 700;
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 0px 20px;
		vertical-align: middle;
	}
	.client-view-order-box .reward-description{
		display: block;
		width: 100%;
		font-size: 16px;
		margin: 10px 0px 20px 0px;
		padding: 0px 0px 0px 0px;
		vertical-align: middle;
	}
	.client-view-order-box .balance{
		display: block;
		width: 100%;
		font-size: 16px;
		margin: 10px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
	}
	.client-view-order-box .balance span{
		color: #53BE31;
		font-weight: 700;
	}
	.client-view-order-box form{
		margin: 20px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.client-view-order-box textarea{
		display: block;
		background-color: white;
		font-size: 16px;
		width: 440px;
		margin: 5px 0px 10px 0px;
		padding: 10px;
		border-width: 2px;
		border-color: #E0E9F2;
		border-radius: 3px;
		border-style: solid;
		color: #5f5f5f;
		font-size: 14px;
		transition: border-color 0.2s;
	}
	.client-view-order-box textarea:focus{
	    display: block;
	    background-color: white;
	    font-size: 16px;
	    width: 440px;
	    margin: 5px 0px 10px 0px;
	    padding: 10px;
	    border-width: 2px;
	    border-color: #2895F1;
	    border-radius: 3px;
	    border-style: solid;
	    color: #5f5f5f;
	    font-size: 14px;
	}
	.client-view-order-box input[type=submit]{
		display: inline-block;
	    width: 336px;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	    background-color: #007EE5;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    transition: background-color 0.2s;
	}
	.client-view-order-box input[type=submit]:hover{
		display: inline-block;
		width: 336px;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	    background-color: #008cff;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    cursor: pointer;
	}
	.client-view-order-box form a{
		display: inline-block;
	    margin: 0px 0px 0px 20px;
	    padding: 10px 0px;
	    vertical-align: middle;
	}
	.client-view-order-box form a:hover{
		display: inline-block;
	    margin: 0px 0px 0px 20px;
	    padding: 10px 0px;
	    vertical-align: middle;
	    cursor: pointer;
	}
}
@media only screen and (max-width: 599px) and (min-width: 400px) {
	.client-view-order-box{
		width: calc(100% - 64px);
		margin: 0px 10px 20px 10px;
		padding: 10px 20px 10px 20px;
		background-color: white;
		border-width: 2px 2px 2px 2px;
		border-color: #E9EFF6;
		border-style: solid;
	}
	.client-view-order-box .promotor{
		font-size: 24px;
		font-weight: 700;
		margin: 0px 0px 30px 0px;
		padding: 0px;
	}
	.client-view-order-box .reward-info{
		display: block;
		width: 100%;
		margin: 10px 0px 10px 0px;
		padding: 0px;
	}
	.client-view-order-box img.reward-img{
		display: inline-block;
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 100px;
		margin: 0px auto 10px auto;
		padding: 0px;
		vertical-align: middle;
	}
	.client-view-order-box div.reward-img{
		display: inline-block;
		background-color: #DFDFDF;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		margin: 0px 0px 10px 0px;
		padding: 0px;
		vertical-align: middle;
	}
	.client-view-order-box div.reward-img i{
		font-size: 56px;
		vertical-align: middle;
	}
	.client-view-order-box .reward-name{
		display: inline-block;
		width: calc(100% - 124px);
		font-size: 24px;
		font-weight: 700;
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 0px 20px;
		vertical-align: middle;
	}
	.client-view-order-box .reward-description{
		display: block;
		width: 100%;
		font-size: 16px;
		margin: 10px 0px 20px 0px;
		padding: 0px 0px 0px 0px;
		vertical-align: middle;
	}
	.client-view-order-box .balance{
		display: block;
		width: 100%;
		font-size: 16px;
		margin: 10px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
	}
	.client-view-order-box .balance span{
		color: #53BE31;
		font-weight: 700;
	}
	.client-view-order-box form{
		margin: 20px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.client-view-order-box textarea{
		display: block;
		background-color: white;
		font-size: 16px;
		width: calc(100% - 24px);
		max-width: 440px;
		margin: 5px 0px 10px 0px;
		padding: 10px;
		border-width: 2px;
		border-color: #E0E9F2;
		border-radius: 3px;
		border-style: solid;
		color: #5f5f5f;
		font-size: 14px;
		transition: border-color 0.2s;
	}
	.client-view-order-box textarea:focus{
	    display: block;
	    background-color: white;
	    font-size: 16px;
	    width: calc(100% - 24px);
	    max-width: 440px;
	    margin: 5px 0px 10px 0px;
	    padding: 10px;
	    border-width: 2px;
	    border-color: #2895F1;
	    border-radius: 3px;
	    border-style: solid;
	    color: #5f5f5f;
	    font-size: 14px;
	}
	.client-view-order-box input[type=submit]{
		display: block;
	    width: 260px;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	    background-color: #007EE5;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    transition: background-color 0.2s;
	}
	.client-view-order-box input[type=submit]:hover{
		display: block;
		width: 260px;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	    background-color: #008cff;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    cursor: pointer;
	}
	.client-view-order-box form a{
		display: inline-block;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	}
	.client-view-order-box form a:hover{
		display: inline-block;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	    cursor: pointer;
	}
}
@media only screen and (max-width: 399px) {
	.client-view-order-box{
		width: calc(100% - 44px);
		margin: 0px 10px 20px 10px;
		padding: 10px 10px 10px 10px;
		background-color: white;
		border-width: 2px 2px 2px 2px;
		border-color: #E9EFF6;
		border-style: solid;
	}
	.client-view-order-box .promotor{
		font-size: 24px;
		font-weight: 700;
		margin: 0px 0px 30px 0px;
		padding: 0px;
	}
	.client-view-order-box .reward-info{
		display: block;
		width: 100%;
		margin: 10px 0px 10px 0px;
		padding: 0px;
	}
	.client-view-order-box img.reward-img{
		display: block;
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 100px;
		margin: 0px auto 10px auto;
		padding: 0px;
		vertical-align: middle;
	}
	.client-view-order-box div.reward-img{
		display: block;
		background-color: #DFDFDF;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		margin: 0px auto 10px auto;
		padding: 0px;
		vertical-align: middle;
	}
	.client-view-order-box div.reward-img i{
		font-size: 56px;
		vertical-align: middle;
	}
	.client-view-order-box .reward-name{
		display: block;
		width: 100%;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
		vertical-align: middle;
	}
	.client-view-order-box .reward-description{
		display: block;
		width: 100%;
		font-size: 16px;
		margin: 10px 0px 20px 0px;
		padding: 0px 0px 0px 0px;
		vertical-align: middle;
	}
	.client-view-order-box .balance{
		display: block;
		width: 100%;
		font-size: 16px;
		margin: 10px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
	}
	.client-view-order-box .balance span{
		color: #53BE31;
		font-weight: 700;
	}
	.client-view-order-box form{
		margin: 20px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.client-view-order-box textarea{
		display: block;
		background-color: white;
		font-size: 16px;
		width: calc(100% - 24px);
		margin: 5px 0px 10px 0px;
		padding: 10px;
		border-width: 2px;
		border-color: #E0E9F2;
		border-radius: 3px;
		border-style: solid;
		color: #5f5f5f;
		font-size: 14px;
		transition: border-color 0.2s;
	}
	.client-view-order-box textarea:focus{
	    display: block;
	    background-color: white;
	    font-size: 16px;
	    width: calc(100% - 24px);
	    margin: 5px 0px 10px 0px;
	    padding: 10px;
	    border-width: 2px;
	    border-color: #2895F1;
	    border-radius: 3px;
	    border-style: solid;
	    color: #5f5f5f;
	    font-size: 14px;
	}
	.client-view-order-box input[type=submit]{
		display: block;
	    width: 361px;
	    margin: 0px auto 10px auto;
	    padding: 10px 0px;
	    background-color: #007EE5;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    transition: background-color 0.2s;
	}
	.client-view-order-box input[type=submit]:hover{
		display: block;
		width: 361px;
	    margin: 0px auto 10px auto;
	    padding: 10px 0px;
	    background-color: #008cff;
	    border: 0px solid;
	    border-radius: 3px;
	    color: white;
	    font-size: 20px;
	    vertical-align: -1px;
	    text-align: center;
	    cursor: pointer;
	}
	.client-view-order-box form a{
		display: block;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	    text-align: center;
	}
	.client-view-order-box form a:hover{
		display: block;
	    margin: 0px 0px 10px 0px;
	    padding: 10px 0px;
	    text-align: center;
	}
}
