#side_bar .client_menu_actions i{
  color: #53BE31;
} 
#side_bar .client_menu_contests i{
  color: #71AAFF;
} 
#side_bar .client_menu_orders i{
  color: #4CB8AD;
} 
#side_bar .client_menu_history i{
  color: #91766C;
}
#side_bar .client_menu_code i{
  color: #ffb84d;
}
#side_bar .client_menu_active i{
  color: white;
}
@media only screen and (min-width: 1200px){
  .client_menu_active{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
  .client_menu_active i{
    display: inline-block;
    width: 12%;
    font-size: 28px;
    margin: 0px 10px 0px 0px;
    vertical-align: -4px;
  }
  .client_menu_active:hover{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
  .client_menu_inactive{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
  .client_menu_inactive i{
    display: inline-block;
    width: 12%;
    font-size: 28px;
    margin: 0px 10px 0px 0px;
    vertical-align: -4px;
  }
  .client_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 1000px){
  .client_menu_active{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 12px;
    font-weight: 600;
  }
  .client_menu_active i{
    display: inline-block;
    width: 12%;
    font-size: 24px;
    margin: 0px 10px 0px 0px;
    vertical-align: -4px;
  }
  .client_menu_active:hover{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 12px;
    font-weight: 600;
  }
  .client_menu_inactive{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 12px;
    font-weight: 600;
  }
  .client_menu_inactive i{
    display: inline-block;
    width: 12%;
    font-size: 24px;
    margin: 0px 10px 0px 0px;
    vertical-align: -4px;
  }
  .client_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 12px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 999px) and (min-width: 600px){
  .client_menu_active{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 4% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .client_menu_active i{
    display: inline-block;
    font-size: 26px;
    vertical-align: -2px;
  }
  .client_menu_active:hover{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 4% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .client_menu_inactive{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 4% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .client_menu_inactive i{
    display: inline-block;
    font-size: 26px;
    vertical-align: -2px;
  }
  .client_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 80%;
    margin: 0px;
    padding: 4% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 599px){
  .client_menu_active{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 5% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .client_menu_active i{
    display: inline-block;
    font-size: 26px;
    vertical-align: -2px;
  }
  .client_menu_active:hover{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 5% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .client_menu_inactive{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .client_menu_inactive i{
    display: inline-block;
    font-size: 26px;
    vertical-align: -2px;
  }
  .client_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 80%;
    margin: 0px;
    padding: 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
}