.forgot-password-top{
  display: block;
  background-color: white;
  width: 260px;
  border: 0px solid;
  border-radius: 5px 5px 0px 0px;
  margin: 10% auto 0px auto;
  padding: 20px 20px 10px 20px;
  font-size: 26px;
  font-weight: 700;
  color: #53BE31;
  text-align: center;
}

.forgot-password-form{
  display: block;
  background-color: white;
  width: 260px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #788088;
}

.forgot-password-form p {
  font-size: 14px;
}

.forgot-password-form input[type=email]{
  width: 248px;
  margin: 0px 0px 10px 0px;
  padding: 5px;
  border: 1px solid #76858F;
  border-radius: 3px;
  color: #76858F;
}

.forgot-password-form input[type=email]:focus{
  width: 248px;
  margin: 0px 0px 10px 0px;
  padding: 5px;
  border: 1px solid #2895F1;
  border-radius: 3px;
  color: #76858F;
}

.forgot-password-form input[type=submit]{
  background-color: #53BE31;
  width: 260px;
  margin: 0px;
  padding: 8px 10px;
  border: 0px solid;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  transition: background-color 0.2s;
}

.forgot-password-form input[type=submit]:hover{
  background-color: #68D049;
  width: 260px;
  margin: 0px;
  padding: 8px 10px;
  border: 0px solid;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.forgot-password-bottom{
  display: block;
  background-color: white;
  width: 260px;
  border: 0px solid;
  border-radius: 0px 0px 5px 5px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #788088;
  text-align: center;
}


@media only screen and (min-width: 800px){
  #forgot-password {
    width: 360px;
    margin: 20px auto;
    padding: 0px;
    color: #47525D;
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
  }
  #forgot-password form{
    display: block;
    width: 360px;
    margin: 0px;
    padding: 10px 0px;
  }
  #forgot-password h1{
    width: 360px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
  }
  #forgot-password p{
    width: 360px;
    margin: 4px 0px 10px 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
  }
  #forgot-password input[type=email]{
    display: block;
    width: 332px;
    font-size: 16px;
    text-align: left;
    color: #47525D;
    margin: 0 auto;
    padding: 12px 12px;
    border-width: 2px;
    border-radius: 3px;
    border-color: #FFFFFF;
    border-style: solid;
    transition: border-color 0.2s;
  }
  #forgot-password input[type=email]:focus{
    display: block;
    width: 332px;
    font-size: 16px;
    text-align: left;
    color: #47525D;
    margin: 0 auto;
    padding: 12px 12px;
    border-width: 2px;
    border-radius: 3px;
    border-color: #2895F1;
    border-style: solid;
  }
  #forgot-password input[type=submit]{
    display: block;
    width: 360px;
    height: 54px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.2s;
  }
  #forgot-password input[type=submit]:hover{
    display: block;
    width: 360px;
    height: 54px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
  }
}
@media only screen and (min-width: 400px) and (max-width: 799px){
  #forgot-password {
    width: 360px;
    margin: 20px auto;
    padding: 0px;
    color: #47525D;
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
  }
  #forgot-password form{
    display: block;
    width: 360px;
    margin: 0px;
    padding: 10px 0px;
  }
  #forgot-password h1{
    width: 360px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
  }
  #forgot-password p{
    width: 360px;
    margin: 4px 0px 10px 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
  }
  #forgot-password input[type=email]{
    display: block;
    width: 332px;
    font-size: 16px;
    text-align: left;
    color: #47525D;
    margin: 0 auto;
    padding: 12px 12px;
    border-width: 2px;
    border-radius: 3px;
    border-color: #FFFFFF;
    border-style: solid;
    transition: border-color 0.2s;
  }
  #forgot-password input[type=email]:focus{
    display: block;
    width: 332px;
    font-size: 16px;
    text-align: left;
    color: #47525D;
    margin: 0 auto;
    padding: 12px 12px;
    border-width: 2px;
    border-radius: 3px;
    border-color: #2895F1;
    border-style: solid;
  }
  #forgot-password input[type=submit]{
    display: block;
    width: 360px;
    height: 54px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.2s;
  }
  #forgot-password input[type=submit]:hover{
    display: block;
    width: 360px;
    height: 54px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
  }
}
@media only screen and (max-width: 399px){
  #forgot-password {
    width: 90%;
    margin: 20px auto;
    color: #47525D;
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
  }
  #forgot-password form{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
  }
  #forgot-password h1{
    width: 100%;
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
  }
  #forgot-password p{
    width: 100%;
    margin: 4px 0px 10px 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
  }
  #forgot-password input[type=email]{
    display: block;
    width: calc(100% - 28px);
    font-size: 16px;
    text-align: left;
    color: #47525D;
    margin: 0 auto;
    padding: 12px 12px;
    border-width: 2px;
    border-radius: 3px;
    border-color: #FFFFFF;
    border-style: solid;
    transition: border-color 0.2s;
  }
  #forgot-password input[type=email]:focus{
    display: block;
    width: calc(100% - 28px);
    font-size: 16px;
    text-align: left;
    color: #47525D;
    margin: 0 auto;
    padding: 12px 12px;
    border-width: 2px;
    border-radius: 3px;
    border-color: #2895F1;
    border-style: solid;
  }
  #forgot-password input[type=submit]{
    display: block;
    width: 100%;
    height: 54px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.2s;
  }
  #forgot-password input[type=submit]:hover{
    display: block;
    width: 100%;
    height: 54px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
  }
}