@media only screen and (min-width: 900px){
  div#login_box{
    display: block;
    width: 620px;
    height: 400px;
    margin: 80px auto;
    padding: 0px;
    background-color: white;
    border: 0px solid;
    border-radius: 5px;
  }
  .login_left_block{
    float: left;
    position: relative;
    display: inline-block;
    width: 246px;
    height: 98%;
    padding: 8px 30px;
    margin: 0px;
    color: #76858F;
  }
  .login_left_block h1{
    color: #53BE31;
    font-size: 36px;
  }
  .login_left_block input[type=email]{
    width: 236px;
    height: 32px;
    padding: 4px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #76858F;
    border-radius: 3px;
    text-align: left;
    font-size: 18px;
  }
  .login_left_block input[type=password]{
    width: 236px;
    height: 32px;
    padding: 4px;
    border: 1px solid #76858F;
    border-radius: 3px;
    text-align: left;
    font-size: 18px;
  }
  .login_left_block input[type=submit]{
    width: 246px;
    height: 50px;
    background-color: #53BE31;
    padding: 6px 0px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transition: background-color 0.2s;
  }
  .login_left_block input[type=submit]:hover{
    width: 246px;
    height: 50px;
    background-color: #68D049;
    padding: 6px 0px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }
  .login_right_block{
    float: left;
    position: relative;
    display: inline-block;
    width: 246px;
    height: 96%;
    padding: 8px 30px;
    margin: 0px;
    color: #76858F;
    border-left: 2px solid;
    border-color: #E7E7E7;
  }
  .login_right_block p{
    font-size: 22px;
    color: #47525D;
    font-weight: 800;
  }
  .login_right_block input[type=email]{
    width: 236px;
    height: 32px;
    font-size: 18px;
    text-align: left;
    padding: 4px;
    border: 1px solid #76858F;
    border-radius: 3px;
    transition: border 0.2s;
  }
  .login_right_block input[type=email]:focus{
    width: 236px;
    height: 32px;
    font-size: 18px;
    text-align: left;
    padding: 4px;
    border: 1px solid #2895F1;
    border-radius: 3px;
  }
  input[type=submit].login_submit{
    width: auto;
    height: 50px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px 40px 0px;
    padding: 4px 30px;
    transition: background-color 0.2s;
  }
  input[type=submit].login_submit:hover{
    width: auto;
    height: 50px;
    background-color: #68D049;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px 40px 0px;
    padding: 4px 30px;
    cursor: pointer;
  }
  .promotor-login-link{
    position: absolute;
    bottom: 4px;
  }
}
@media only screen and (max-width: 899px) and (min-width: 600px){
  div#login_box{
    display: block;
    width: 580px;
    height: 380px;
    margin: 80px auto;
    padding: 0px;
    background-color: white;
    border: 0px solid;
    border-radius: 5px;
  }
  .login_left_block{
    float: left;
    position: relative;
    display: inline-block;
    width: 243px;
    height: 98%;
    padding: 6px 23px;
    margin: 0px;
    color: #76858F;
  }
  .login_left_block input[type=email]{
    width: 234px;
    height: 32px;
    padding: 4px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #76858F;
    border-radius: 3px;
    text-align: left;
    font-size: 18px;
  }
  .login_left_block input[type=password]{
    width: 234px;
    height: 32px;
    padding: 4px;
    border: 1px solid #76858F;
    border-radius: 3px;
    text-align: left;
    font-size: 18px;
  }
  .login_left_block input[type=submit]{
    width: 244px;
    height: 40px;
    background-color: #53BE31;
    padding: 6px 0px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transition: background-color 0.2s;
  }
  .login_left_block input[type=submit]:hover{
    width: 244px;
    height: 40px;
    background-color: #68D049;
    padding: 6px 0px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }
  .login_left_block h1{
    color: #53BE31;
    font-size: 36px;
  }
  .login_right_block{
    float: left;
    position: relative;
    display: inline-block;
    width: 243px;
    height: 96%;
    padding: 6px 23px;
    margin: 0px;
    color: #76858F;
    border-left: 2px solid;
    border-color: #E7E7E7;
  }
  .login_right_block p{
    font-size: 22px;
    color: #47525D;
    font-weight: 800;
  }
  .login_right_block input[type=email]{
    width: 234px;
    height: 32px;
    font-size: 18px;
    text-align: left;
    padding: 4px;
    border: 1px solid #76858F;
    border-radius: 3px;
    transition: border 0.2s;
  }
  .login_right_block input[type=email]:focus{
    width: 234px;
    height: 32px;
    font-size: 18px;
    text-align: left;
    padding: 4px;
    border: 1px solid #2895F1;
    border-radius: 3px;
  }
  input[type=submit].login_submit{
    width: 244px;
    height: 40px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px 40px 0px;
    padding: 4px 0px;
    transition: background-color 0.2s;
  }
  input[type=submit].login_submit:hover{
    width: 244px;
    height: 40px;
    background-color: #68D049;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px 40px 0px;
    padding: 4px 0px;
    cursor: pointer;
  }
  .promotor-login-link{
    position: absolute;
    bottom: 4px;
  }
}
@media only screen and (max-width: 599px) and (min-width: 400px){
  div#login_box{
    display: block;
    width: 380px;
    margin: 60px auto;
    padding: 0px;
    background-color: white;
    border: 0px solid;
    border-radius: 5px;
  }
  .login_left_block{
    display: block;
    position: relative;
    width: 340px;
    padding: 20px 20px 5px 20px;
    margin: 0px;
    font-size: 12px;
    color: #76858F;
    border-width: 0px;
    border-bottom: 1px;
    border-color: #76858F;
    border-style: solid;
  }
  .login_left_block h1{
    color: #53BE31;
    font-size: 28px;
  }
  .login_left_block input[type=email]{
    width: 330px;
    height: 22px;
    padding: 4px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #76858F;
    border-radius: 3px;
    text-align: left;
    font-size: 18px;
  }
  .login_left_block input[type=password]{
    width: 330px;
    height: 22px;
    padding: 4px;
    border: 1px solid #76858F;
    border-radius: 3px;
    text-align: left;
    font-size: 18px;
  }
  .login_left_block input[type=submit]{
    width: 340px;
    height: 40px;
    background-color: #53BE31;
    padding: 6px 0px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transition: background-color 0.2s;
  }
  .login_left_block input[type=submit]:hover{
    width: 340px;
    height: 40px;
    background-color: #68D049;
    padding: 6px 0px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }
  .login_right_block{
    display: block;
    position: relative;
    width: 340px;
    padding: 0px 20px 20px 20px;
    margin: 0px;
    font-size: 12px;
    color: #76858F;
    border-left: 0px solid;
  }
  .login_right_block p{
    font-size: 14px;
    color: #47525D;
    font-weight: 800;
  }
  .login_right_block input[type=email]{
    width: 330px;
    height: 22px;
    font-size: 14px;
    text-align: left;
    padding: 4px;
    border: 1px solid #76858F;
    border-radius: 3px;
    transition: border 0.2s;
  }
  .login_right_block input[type=email]:focus{
    width: 330px;
    height: 22px;
    font-size: 14px;
    text-align: left;
    padding: 4px;
    border: 1px solid #2895F1;
    border-radius: 3px;
  }
  input[type=submit].login_submit{
    width: 340px;
    height: 40px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 4px 0px;
    transition: background-color 0.2s;
  }
  input[type=submit].login_submit:hover{
    width: 340px;
    height: 40px;
    background-color: #68D049;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 4px 0px;
    cursor: pointer;
  }
  .promotor-login-link{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    text-align: center;
  }
}
@media only screen and (max-width: 399px){
  div#login_box{
    display: block;
    width: 260px;
    margin: 40px auto;
    padding: 0px;
    background-color: white;
    border: 0px solid;
    border-radius: 5px;
  }
  .login_left_block{
    display: block;
    position: relative;
    width: 222px;
    padding: 20px 20px 5px 20px;
    margin: 0px;
    font-size: 12px;
    color: #464646;
    border-width: 0px;
    border-bottom: 1px;
    border-color: #76858F;
    border-style: solid;
  }
  .login_left_block h1{
    color: #53BE31;
    font-size: 28px;
  }
  .login_left_block input[type=email]{
    width: 212px;
    height: 22px;
    padding: 4px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #76858F;
    border-radius: 3px;
    text-align: left;
    font-size: 18px;
  }
  .login_left_block input[type=password]{
    width: 212px;
    height: 22px;
    padding: 4px;
    border: 1px solid #76858F;
    border-radius: 3px;
    text-align: left;
    font-size: 18px;
  }
  .login_left_block input[type=submit]{
    width: 222px;
    height: 40px;
    background-color: #53BE31;
    padding: 6px 0px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transition: background-color 0.2s;
  }
  .login_left_block input[type=submit]:hover{
    width: 222px;
    height: 40px;
    background-color: #68D049;
    padding: 6px 0px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }
  .login_right_block{
    display: block;
    position: relative;
    width: 222px;
    padding: 0px 20px 20px 20px;
    margin: 0px;
    font-size: 12px;
    color: #76858F;
    border-left: 0px solid;
  }
  .login_right_block p{
    font-size: 14px;
    color: #47525D;
    font-weight: 800;
  }
  .login_right_block input[type=email]{
    width: 212px;
    height: 22px;
    font-size: 14px;
    text-align: left;
    padding: 4px;
    border: 1px solid #76858F;
    border-radius: 3px;
    transition: border 0.2s;
  }
  .login_right_block input[type=email]:focus{
    width: 212px;
    height: 22px;
    font-size: 14px;
    text-align: left;
    padding: 4px;
    border: 1px solid #2895F1;
    border-radius: 3px;
  }
  input[type=submit].login_submit{
    width: 222px;
    height: 40px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 4px 0px;
    transition: background-color 0.2s;
  }
  input[type=submit].login_submit:hover{
    width: 222px;
    height: 40px;
    background-color: #68D049;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 4px 0px;
    cursor: pointer;
  }
  .promotor-login-link{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    text-align: center;
  }
}