@charset "utf-8"
/* Main selectors */

html{
  padding: 0px;
}
body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #5f5f5f;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
}

body.start_pages_body{
  background-image: url(/assets/image/bg.jpg);
  background-position: fixed;
  width: 100%;
  height: calc(100% - 20px);
  margin: 0px;
  padding: 0px 0px 20px 0px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body.body-404{
  background-image: url(/assets/image/bg.jpg);
  background-position: fixed;
  width: 100%;
  height: 60%;
  margin: 0px;
  padding: 20% 0px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

div#start-top{
  display: block;
  width: calc(100% - 20px);
  height: 20px;
  margin: 0px;
  padding: 6px 20px 6px 0px;
  text-align: right; 
  font-weight: bold;
  color: white;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px;
  border-left: 0px;
  border-color: rgba(220, 230, 240, 0.2);
  border-style: solid;
}

/* Fonts */
a{
  color: #5f5f5f;
  text-decoration: none;
}
a:hover{
  color: #737373;
  text-decoration: none;
}
a.white_font{
  color: white;
  text-decoration: none;
}
a.white_font:hover{
  color: #e6e6e6;
  text-decoration: none; 
}
a#link_underline:hover{
  text-decoration: underline;
}
div#text{
  text-align: center;
}
p.red{
  display: inline;
  color: red;
}
b#title{
  font-size: 20px;
}
p.linethrough{
  text-decoration: line-through;
}
.green_font{
  color: #53BE31;
}
.white_font{
  color: white;
}
.red_font{
  color: red;
}
.dark_font{
  color: #2A2E33;
}
.bold{
  font-weight: : 700;
}
.extra_bold{
  font-weight: 800;
}
.text_align_left{
  text-align: left;
  margin: 0px;
}
.text_align_center{
  text-align: center;
}
.text_align_right{
  text-align: right;
}
.float_left{
  float: left;
}
.text_center{
  display: block;
  text-align: center;
  margin: 10px auto;
}
.small_font{
  font-size: 16px;
}
.medium_font{
  font-size: 22px;
}
.big_font{
  font-size: 30px;
}
.large_font{
  font-size: 48px;
}
.zero_margin{
  margin: 0px;
}
.none_text_decoration{
  text-decoration: none;
}
.none_bold_text{
  font-weight: normal;
}
.width_auto{
  width: auto;
}
.bottom_left_text{
  position: absolute;
  left: 0px;
  bottom: 0px;
}
h1#main_page_site_title{
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 48px;
}



/* Views elements */
h1#show_top_title{
  display: inline-block;
  width: 70%;
  margin: 0px;
}
div#show_top_options{
  display: inline-block;
  text-align: right;
  width: 25%;
  margin: 0px 4% 0px 0px;
}

/* Rewards show view */
div#reward_description{
  width: 100%;
  margin: 0px;
}
div#reward_images_container{
  display: block;
  margin: 0px 20px;
  max-width: 94%;
}
.reward_image_box{
  display: inline-block;
  position: relative;
  margin: 4px;
  border: 0px; 
  border-style: solid;
}
.reward_image{
  margin: 5px;
  color: grey;
  opacity: 1;
  transition: opacity 0.2s;
}
.reward_image:hover{
  margin: 5px;
  color: grey;
  cursor: pointer;
  opacity: 0.9;
}
.delete_image{
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: 0px solid;
  text-align: center;
  color: grey;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.delete_image:hover{
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: 0px solid;
  text-align: center;
  color: grey;
  opacity: 1;
  cursor: pointer;
}
div#reward_box{
  display: inline-block;
  float: left;
  width: 200px;;
  height: 380px;
  font-size: 12px; 
  margin: 10px;
  padding: 4px 20px 2px 20px;
  border: 1px;
  border-style: solid;
}
img#client_show_rewards{
  margin: 10px auto;
  border: 1px;
  border-style: solid; 
  color: grey;
}
.index_rewards_image{
  display: block;
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}
div#img_placeholder{
  width: 200px;
  height: 200px;
  margin: 10px 0px;
  background-color: grey;
  border: 1px;
  border-style: solid;
}
button#center{
  text-align: center;
  margin: 10px auto;
  transition: background-color 0.2s;
}
button#center:hover{
  text-align: center;
  margin: 10px auto;
}




/* Other elements */
button{
  display: block;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #CCCCCC;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  font-size: 12px;
  transition: background-color 0.2s;
}
button:hover{
  display: block;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #AAAAAA;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  font-size: 12px;
  cursor: pointer;
}
ul, li{
  list-style: none;


/* Forms */
}
input[type=text]{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px 4px 4px 4px;
  border: 1px solid;
  border-radius: 3px;
  transition: border 0.2s;
}
input[type=text]:focus{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px 4px 4px 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
}

input[type=email]{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px;
  border: 1px solid;
  border-radius: 3px;
  transition: border 0.2s;
}
input[type=email]:focus{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
}

input.date[type=text]{
  width: auto;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px;
  border: 1px solid;
  border-radius: 3px;
  transition: border 0.2s;
}
input.date[type=text]:focus{
  width: auto;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
}

input[type=password]{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  border: 1px solid;
  border-radius: 3px;
  transition: border 0.2s;
}
input[type=password]:focus{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: center;
  padding: 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
}

input#prize[type=text]{
  width: 10%;
  height: 24px;
  font-size: 14px;
  text-align: right;
  padding: 4px;
  border: 1px solid;
  border-radius: 3px;
}
input#prize[type=text]:focus{
  width: 10%;
  height: 24px;
  font-size: 14px;
  text-align: right;
  padding: 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
}

textarea{
  width: 40%;
  padding: 4px;
  border: 1px solid;
  border-radius: 3px;
  resize: none;
}
textarea:focus{
  width: 40%;
  padding: 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
  resize: none;
}

/*
input[type=submit]{
  display: block;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #CCCCCC;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  font-size: 12px;
  transition: background-color 0.2s;
}
input[type=submit]:hover{
  display: block;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #AAAAAA;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  font-size: 12px;
  cursor: pointer;
}
*/

select{
  background-color: rgba(250, 250, 250, 0.0);
  width: auto;
  height: 30px;
  border: 1px;
  border-radius: 5px 0px 0px 5px;
  border-style: solid;
  text-align: left;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

/* Admin menu */
div#admin_menu_box{
  width: 100%;
  padding: 0px;
  margin: 0px;
}
div#admin_promotors_menu_active{
  display: inline-block;
  float: left;
  width: 19.9%;
  margin: 10px 0px 40px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border: 1px;
  border-bottom: 0px;
  border-style: solid;
}
div#admin_promotors_menu_active:hover{
  display: inline-block;
  float: left;
  background-color: rgba(64, 64, 64, 0.3);
  width: 19.9%;
  margin: 10px 0px 40px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: normal;
  border: 1px;
  border-bottom: 0px;
  border-style: solid;
}
div#admin_promotors_menu_inactive{
  display: inline-block;
  float: left;
  width: 19.9%;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
}
div#admin_promotors_menu_inactive:hover{
  display: inline-block;
  float: left;
  background-color: rgba(64, 64, 64, 0.3);
  width: 19.9%;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: normal;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
}

/*Statystyki*/
div#stats_box{
  display: block;
  background-color: white;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.stats-title{
  margin: 10px 0px;
  font-size: 28px;
}
div#codes_charts{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
div#clients_charts{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Use code view */

.inline{
  display: inline;
}

.clear_both{
  clear: both;
}
hr{
  color: #D5D5D5;
  border-color: #D5D5D5;
}
.opacity{
  opacity: 0.5;
}


form#hash_email_form{
  display: block;
  background-color: white;
  color: #2A2E33;
  width: 14%;
  padding: 1%;
  margin: 0px auto;
  border: 0px solid;
  border-radius: 0px 0px 5px 5px;
}






.font-10-px{
  font-size: 10px;
}
.font-12-px{
  font-size: 12px;
}
.font-14-px{
  font-size: 14px;
}
.font-16-px{
  font-size: 16px;
}
.font-18-px{
  font-size: 18px;
}
.font-20-px{
  font-size: 20px;
}
.font-22-px{
  font-size: 22px;
}
.font-24-px{
  font-size: 24px;
}
.font-26-px{
  font-size: 26px;
}
.font-28-px{
  font-size: 28px;
}
.font-30-px{
  font-size: 30px;
}

.left-margin-10-px{
  margin-left: 10px;
}
.right-margin-16-px{
  margin-right: 16px;
}
.margin-left-right-10-px{
  margin: 0px 10px;
}
.left-margin-5-percent{
  margin: 0px 0px 0px 5%;
}
.bottom-margin-10-px{
  margin: 0px 0px 10px 0px;
}
.margin-left-10-percent-bottom-10px{
  margin: 0px 0px 10px 10%;
}


img#main-layout-logo{
  display: inline-block;
  width: 7%;
  margin: auto 0px;
}
div#main-layout-user{
  width: 88%;
  margin: 0px;
  padding: 10px 1%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.color_green{
  color: #53BE31;
}
.color_red{
  color: #E05E52;
}






#dropdown-menu-list{
  background-color: white;
  width: 10%;
  position: absolute;
  right: 2%;
  text-align: left;
}

.green-icon{
  color: #53BE31;
}
.red-icon{
  color: #E05E52;
}
.blue-icon{
  color: #71AAFF;
}
.light-purple-icon{
  color: #986ECE;
}
.dark-purple-icon{
  color: #8E6581;
}
.dark-green-icon{
  color: #4CB8AD;
}
.grey-icon{
  color: #949494;
}
.brown-icon{
  color: #91766C;
}
.orange-icon{
  color: #ffb84d;
}





.start-layout-top-link{
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: white;
  margin: 0px 0px 0px 2%;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.start-layout-top-link:hover{
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: white;
  margin: 0px 0px 0px 2%;
  opacity: 1;
  cursor: pointer;
}

.avatar-box{
  display: inline-block;
  position: relative;
}


.avatar-square{
  display: inline-block;
  background-color: #E7ECF3;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}


.window-size{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}





  .make-first-box{
    display: block;
    width: 60vw;
    height: 50vh;
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
    padding: 20vh 0px;
  }
  .make-first-button{
    display: inline-block;
    color: white;
    margin: auto;
    padding: 1%;
    background-color: #007EE5;
    font-size: 16px;
    transition: background-color 0.2s;
    border: 0px solid;
    border-radius: 3px;
    line-height: 16px;
  }
  .make-first-button i{
    display: inline;
    font-size: 22px;
    vertical-align: -3px;
    margin: 0px 10px 0px 0px;
  }
  .make-first-button:hover{
    display: inline-block;
    color: white;
    margin: auto;
    padding: 1%;
    background-color: #008cff;
    font-size: 16px;
    border: 0px solid;
    border-radius: 3px;
    line-height: 16px;
  }

  .no-results{
    display: block;
    width: 100%;
    margin: 10% 0px 0px 0px;
    font-size: 28px;
    text-align: center;
    padding: 0px;
  }

.message-404{
  display: block;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 40px;
}
.message-404 a{
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

.random-answer{
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  border: 0px solid;
  border-radius: 5px;
  background-color: white; 
}
.get-random-answer:hover{
  cursor: pointer;
}

@media only screen and (min-width: 450px){
  .static-pages-data{
    display: inline-block;
    margin: 0px 40px 0px 0px;
    float: left;
    width: 40%;
    min-width: 220px;
    height: 70vh;
    overflow-y: auto;
  }
}
@media only screen and (max-width: 449px){
  .static-pages-data{
    display: none;
  }
}

.files-number{
  display: inline;
  margin: 0px;
  padding: 0px;
}

.hide{
  display: none;
}