@charset "utf-8"
/* Main selectors */
html{
  padding: 0px;
}
body{
  width: 100%;
  height: 100%;
  margin: 0px;
  color: #5f5f5f;
  font-family: 'Open Sans', sans-serif;
}

body.start_pages_body{
  background-image: url(/assets/image/bg.jpg);
  background-position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

/* App layout */
div#top{
  display: block;
  width: 98%;
  height: 20%;
  margin: 0px;
  padding: 8px 2% 0px 0px;
  text-align: right; 
  font-weight: bold;
  color: white;
}
div#side_bar{
  display: inline-block;
  float: left;
  width: 14%;
  height: 80%;
  margin: 0px 0px auto 0px;
  padding: 3% 1% 1% 1%;
}
div#content{
  display: inline-block;
  float: left;
  width: 62%;
  height: auto;
  margin: 0px;
  padding: 1%;
}
div#container{
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
div#bottom{
  display: block;
  width: 100%;
  height: 10%;
  margin: 0px;
}

/* Start layout elements */
div#use_code_container{
  width: 16%;
  margin: 0px;
  position: absolute;
  top: 14%;
  left: 42%;
}
table#use_code{
  text-align: center;
  width: 100%;
  margin: 0px;
}
img#use_code_logo{
  width: 20%;
  margin: 0px 0px 10px 0px;
}
form#use_code{
  background: white;
  color: #737C85;
  width: 90%;
  margin: 0px auto;
  padding: 5%;
  border: 0px solid;
  border-radius: 0px 0px 5px 5px;
}
label.use_code_label{
  float: left;
  margin: 0px 0px 0px 10px;
}
div.use_code_top{
  background: white;
  color: #737C85;
  width: 90%;
  margin: 0px auto;
  padding: 5%;
  text-align: center;
  border: 0px solid;
  border-radius: 5px 5px 0px 0px;
}
input[type=submit]#use_code{
  width: 98%;
  height: 50px;
  background-color: #53BE31;
  border: 0px solid;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  text-align: center;
  margin: 20px auto;
}
input[type=submit]#use_code:hover{
  width: 100%;
  height: 54px;
  background-color: #53BE31;
  border: 0px solid;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 18px auto;
}

input[type=text]#use_code_input{
  width: 96%;
  color: #737C85;
  margin: 0px auto;
  border: 1px solid;
  border-radius: 5px;
}
input[type=email]#use_code_input{
  width: 96%;
  color: #737C85;
  margin: 0px auto;
  border: 1px solid;
  border-radius: 5px;
}

form#insert_code{
  background-color: white;
  top: 36%;
  left: 38%;
  position: absolute;
  width: 24%;
  display: block;
  text-align: center;
  margin: 0px;
  border: 0px solid;
  border-radius: 5px;
  padding: 14px;
}
input[type=text]#insert_code{
  text-align: center;
  height: 34px;
  display: inline-block;
  font-size: 24px;
  width: 60%;
  border: 1px solid;
  border-radius: 5px;
}

input[type=submit]#insert_code{
  display: inline-block;
  margin: 6px;
  background-color: #53BE31;
  border: 0px solid;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  text-align: center;
}
input[type=submit]#insert_code:hover{
  display: inline-block;
  margin: 5px 0px 6px 0px;
  background-color: #53BE31;
  border: 0px solid;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

form#login{
  width: 20%;
  color: #737C85;
  background-color: white;
  position: absolute;
  top: 30%;
  left: 39%;
  margin: 0px auto;
  padding: 1%;
  text-align: left;
  border: 0px solid;
  border-radius: 5px;
}
input[type=text]#login{
  width: 97%;
  height: 24px;
  font-size: 14px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
}
input[type=password]#login{
  width: 97%;
  height: 24px;
  font-size: 14px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
}
input[type=submit]#login{
  display: block;
  margin: 2px auto 2px auto;
  text-align: center;
  padding: 4px 10px 4px 10px;
  background-color: #CCCCCC;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  font-size: 12px;
}
input[type=submit]#login:hover{
  display: block;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 4px 10px 4px 10px;
  background-color: #AAAAAA;
  border: 1px;
  border-radius: 12px 12px 12px 12px;
  border-style: solid;
  font-size: 14px;
}

/* Fonts */
a{
  color: #5f5f5f;
  text-decoration: none;
}
a:hover{
  color: #5f5f5f;
  text-decoration: none;
  font-weight: bold; 
}
a:visited{
  color: #5f5f5f;
  text-decoration: none;
}
a.white_font{
  color: white;
  text-decoration: none;
}
a.white_font:hover{
  color: white;
  text-decoration: none;
  font-weight: bold; 
}
a#link_underline:hover{
  text-decoration: underline;
}
div#text{
  text-align: center;
}
p.red{
  display: inline;
  color: red;
}
b#title{
  font-size: 20px;
}
p.linethrough{
  text-decoration: line-through;
}
.green_font{
  color: #53BE31;
}
.white_font{
  color: white;
}
.red_font{
  color: red;
}
.dark_font{
  color: #2A2E33;
}
.bold{
  font-weight: : bold;
}
.extra_bold{
  font-weight: 800;
}
.text_align_left{
  text-align: left;
  margin: 0px;
}
.text_align_center{
  text-align: center;
}
.float_left{
  float: left;
}
.text_center{
  display: block;
  text-align: center;
  margin: 10px auto;
}
.small_font{
  font-size: 16px;
}
.medium_font{
  font-size: 22px;
}
.big_font{
  font-size: 30px;
}
.large_font{
  font-size: 48px;
}
.zero_margin{
  margin: 0px;
}
.none_text_decoration{
  text-decoration: none;
}
.none_bold_text{
  font-weight: normal;
}
h1#main_page_site_title{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 48px;
}

/* Views table */
table{ 
  border-collapse: collapse; 
}
tr{ 
  border-bottom: solid thin; 
  border-color: #AAAAAA;
}
tr#last_row{ 
  border-bottom: none; 
}
td#first_row{
  font-size: 10px;
  padding: 4px 0px 8px 0px;
}
td#edit_cell{
  font-size: 16px;
  padding: 4px 0px 8px 0px;
  text-align: center;
}
td{
  font-size: 16px;
  padding: 4px 0px 8px 0px;
}

/* Views elements */
div#show_title_box{
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}
button#add_new{
  display: inline-block;
  float: right;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #CCCCCC;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  font-size: 12px;
}
button#add_new:hover{
  display: inline-block;
  float: right;
  margin: 0px 0px 0px 0px;
  padding: 4px 10px 4px 10px;
  background-color: #AAAAAA;
  border: 1px;
  border-radius: 12px 12px 12px 12px;
  border-style: solid;
  font-size: 14px;
}
h1#show_top_title{
  display: inline-block;
  width: 70%;
  margin: 0px;
}
div#show_top_options{
  display: inline-block;
  text-align: right;
  width: 25%;
  margin: 0px 4% 0px 0px;
}

/* Rewards show view */
div#reward_description{
  width: 100%;
  margin: 0px;
}
div#reward_images_container{
  display: block;
  margin: 0px 20px;
}
div#reward_image_box{
  display: inline-block;
  margin: 4px;
  border: 0px; 
  border-style: solid;
}
img#reward_image{
  margin: 5px;
  color: grey;
}
input[type=submit]#delete_image{
  font-size: 10px;
  padding: 2px;
  margin: 0px auto 8px auto;
  text-align: center;
}
input[type=submit]#delete_image:hover{
  font-size: 9px;
  padding: 2px;
  margin: 0px auto 7px auto;
  text-align: center;
}
div#reward_box{
  display: inline-block;
  float: left;
  width: 200px;;
  height: 380px;
  font-size: 12px; 
  margin: 10px;
  padding: 4px 20px 2px 20px;
  border: 1px;
  border-style: solid;
}
img#client_show_rewards{
  margin: 10px auto;
  border: 1px;
  border-style: solid; 
  color: grey;
}
div#img_placeholder{
  width: 200px;
  height: 200px;
  margin: 10px 0px;
  background-color: grey;
  border: 1px;
  border-style: solid;
}
button#center{
  text-align: center;
  margin: 10px auto;
}
button#center:hover{
  text-align: center;
  margin: 9px auto;
}

/* Alerts */
div.info_message{
  background-color: #D4ffDA;
  width: 20%;
  min-width: 256px;
  min-height: 50px;
  padding: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 2% auto 2% auto;
  color: green;
  border: 1px;
  border-radius: 20px;
  border-style: solid;
}
div.warning_message{
  background-color: white;
  width: 20%;
  min-width: 256px;
  min-height: 50px;
  padding: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 2% auto 2% auto;
  color: yellow;
  border: 1px;
  border-radius: 20px;
  border-style: solid;
}
div.error_message{
  background-color: #F0D7E8;
  width: 20%;
  min-width: 256px;
  min-height: 50px;
  padding: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 2% auto 2% auto;
  color: red;
  border: 1px;
  border-radius: 20px;
  border-style: solid;
}

/* Other elements */
button{
  display: block;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #CCCCCC;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  font-size: 12px;
}
button:hover{
  display: block;
  margin: 0px;
  padding: 4px 10px 4px 10px;
  background-color: #AAAAAA;
  border: 1px;
  border-radius: 12px 12px 12px 12px;
  border-style: solid;
  font-size: 14px;
}
ul, li{
  list-style: none;


/* Forms */
}
input[type="text"]{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px 4px 4px 4px;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
}
input[type="email"]{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px 4px 4px 4px;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
}
input.date[type="text"]{
  width: auto;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px 4px 4px 4px;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
}
input[type="password"]{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
}
input#prize[type="text"]{
  width: 10%;
  height: 24px;
  font-size: 14px;
  text-align: right;
  padding: 4px 4px 4px 4px;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
}
textarea{
  width: 40%;
  padding: 4px 4px 4px 4px;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
}
input[type="submit"]{
  display: block;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #CCCCCC;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  font-size: 12px;
}
input[type="submit"]:hover{
  display: block;
  margin: 0px;
  padding: 4px 10px 4px 10px;
  background-color: #AAAAAA;
  border: 1px;
  border-radius: 12px 12px 12px 12px;
  border-style: solid;
  font-size: 14px;
}
select{
  width: auto;
  height: 30px;
  border: 1px;
  border-radius: 5px 0px 0px 5px;
  border-style: solid;
  text-align: left;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
textarea{
  padding: 10px;
  resize: none;
}

/* Admin menu */
div#admin_menu_box{
  width: 100%;
  padding: 0px;
  margin: 0px;
}
div#admin_menu_active{
  display: inline-block;
  float: left;
  width: 19.9%;
  margin: 10px 0px 40px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border: 1px;
  border-bottom: 0px;
  border-style: solid;
}
div#admin_menu_active:hover{
  display: inline-block;
  float: left;
  background-color: rgba(64, 64, 64, 0.3);
  width: 19.9%;
  margin: 10px 0px 40px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: normal;
  border: 1px;
  border-bottom: 0px;
  border-style: solid;
}
div#admin_menu_inactive{
  display: inline-block;
  float: left;
  width: 19.9%;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
}
div#admin_menu_inactive:hover{
  display: inline-block;
  float: left;
  background-color: rgba(64, 64, 64, 0.3);
  width: 19.9%;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: normal;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
}

/*Statystyki*/
div#stats_box{
  display: block;
  background-color: rgba(200, 200, 200, 0.4);
  width: 98%;
  padding: 2%;
  margin: 2px 0px;
}

/* Use code view */
div#code_info_top{
  display: block;
  background-color: white;
  color: #2A2E33;
  width: 14%;
  padding: 20px 0px 4px 0px;
  margin: 2% auto 0px auto;
  border: 0px solid;
  border-radius: 5px 5px 0px 0px;
}
div#code_message_error{
  display: block;
  background-color: #F0D7E8;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #FF0000;
  width: 10%;
  padding: 1% 2%;
  margin: 0px auto;
  border: 0px solid;
  border-radius: 0px 0px 5px 5px;
}
p.code_message_error{
  font-size: 30px;
  margin-bottom: 2px;
  font-weight: bold;
  text-align: center;
  color: #FF0000;

}
img#code_info_logo{
  float: left;
  width: 14%;
  margin: 0px 10px 10px 20px;
}
.inline{
  display: inline;
}
table#code_info_table{
  border: 0px solid;
  text-align: center;
  color: #737C85;
}
.no_border_table{
  border: none;
}
div#code_info_container{
  display: block;
  background-color: red;
  width: 100%;
  color: #737C85;
}
div#code_info_inline_text{
  width: 50%;
  float: left;
  font-size: 15px;
}
.clear_both{
  clear: both;
}
hr{
  color: #D5D5D5;
  border-color: #D5D5D5;
}
.opacity{
  opacity: 0.5;
}

div#confirm_code_top{
  display: block;
  background-color: white;
  color: #2A2E33;
  width: 16%;
  padding: 20px 0px 4px 0px;
  margin: 2% auto 0px auto;
  border: 0px solid;
  border-radius: 5px 5px 0px 0px;
}
div#confirm_code_message{
  display: block;
  background-color: #D4ffDA;
  color: #53BE31;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  width: 14%;
  padding: 1%;
  margin: 0px auto;
  border: 0px solid;
}
div#confirm_code_bottom{
  display: block;
  background-color: white;
  color: #737C85;
  font-size: 16px;
  width: 14%;
  padding: 1%;
  margin: 0px auto;
  border: 0px solid;
  border-radius: 0px 0px 5px 5px;
}
form#hash_email_form{
  display: block;
  background-color: white;
  color: #2A2E33;
  width: 14%;
  padding: 1%;
  margin: 0px auto;
  border: 0px solid;
  border-radius: 0px 0px 5px 5px;
}