@charset "utf-8"
/* Main selectors */

html{
  padding: 0px;
}
body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #5f5f5f;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
}

body.start_pages_body{
  background-image: url(/assets/image/bg.jpg);
  background-position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body.body-404{
  background-image: url(/assets/image/bg.jpg);
  background-position: fixed;
  width: 100%;
  height: 60%;
  margin: 0px;
  padding: 20% 0px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}


/* App layout */



  div#side_bar{
    display: inline-block;
    float: left;
    width: 18%;
    height: 80%;
    margin: 2% 0px auto 0px;
    padding: 0px;
  }
  .promotor_menu_active{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
  .promotor_menu_active i{
    display: inline-block;
    width: 12%;
    font-size: 28px;
    margin: 0px 10px 0px 0px;
    vertical-align: -4px;
  }
  .promotor_menu_active:hover{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
  .promotor_menu_inactive{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
  .promotor_menu_inactive i{
    display: inline-block;
    width: 12%;
    font-size: 28px;
    margin: 0px 10px 0px 0px;
    vertical-align: -4px;
  }
  .promotor_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
  div#content{
    display: inline-block;
    min-height: 92vh;
    float: left;
    width: 81.8%;
    margin: 0px;
    padding: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 2px;
    border-color: #DCE6F0;
    border-style: solid;
  }


div#top{
  display: block;
  width: 99%;
  height: 20%;
  margin: 0px;
  padding: 0px 1% 0px 0px;
  text-align: right; 
  font-weight: bold;
  color: white;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px;
  border-left: 0px;
  border-color: #DCE6F0;
  border-style: solid;
}

div#start-top{
  display: block;
  width: 99%;
  height: 20%;
  margin: 0px;
  padding: 0.5% 1% 0.5% 0px;
  text-align: right; 
  font-weight: bold;
  color: white;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px;
  border-left: 0px;
  border-color: rgba(220, 230, 240, 0.2);
  border-style: solid;
}

div#container{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Start layout elements */
div#use_code_container{
  width: 16%;
  margin: 0px;
  position: absolute;
  top: 14%;
  left: 42%;
}
table#use_code{
  text-align: center;
  width: 100%;
  margin: 0px;
  line-height: 26px;
}
img#use_code_logo{
  width: 20%;
  margin: 0px 0px 10px 0px;
}
form#use_code{
  background: white;
  color: #737C85;
  width: 90%;
  margin: 0px auto;
  padding: 5%;
  border: 0px solid;
  border-radius: 0px 0px 5px 5px;
}
label.use_code_label{
  float: left;
  margin: 0px 0px 0px 10px;
}
div.use_code_top{
  background: white;
  color: #737C85;
  width: 90%;
  margin: 0px auto;
  padding: 5%;
  text-align: center;
  border: 0px solid;
  border-radius: 5px 5px 0px 0px;
}
input[type=submit]#static_pages_submit{
  width: 98%;
  height: 50px;
  background-color: #53BE31;
  border: 0px solid;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  text-align: center;
  margin: 20px auto;
  transition: background-color 0.2s;
}
input[type=submit]#static_pages_submit:hover{
  width: 98%;
  height: 50px;
  background-color: #68d049;
  border: 0px solid;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}

input[type=text]#use_code_input{
  width: 96%;
  color: #737C85;
  font-size: 20px;
  margin: 0px auto;
  border: 1px solid;
  border-radius: 5px;
}
input[type=email]#use_code_input{
  width: 96%;
  color: #737C85;
  font-size: 20px;
  margin: 0px auto;
  border: 1px solid;
  border-radius: 5px;
}

#insert-code{
  background-color: white;
  top: 36%;
  left: 38%;
  position: absolute;
  width: 24%;
  display: block;
  text-align: center;
  margin: 0px;
  border: 0px solid;
  border-radius: 5px;
  padding: 20px 6px;
}
#insert-code .insert-code-input{
  height: 38px;
  display: inline-block;
  font-size: 16px;
  width: 49%;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 0px;
  padding: 2px 3%;
}

#insert-code .insert-code-button{
  display: inline-block;
  width: 35%;
  margin: 0px 0px 0px 10px;
  padding: 10px;
  background-color: #53BE31;
  border: 0px solid;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  vertical-align: -1px;
  text-align: center;
  transition: background-color 0.2s;
}
#insert-code .insert-code-button:hover{
  display: inline-block;
  width: 35%;
  margin: 0px 0px 0px 10px;
  padding: 10px;
  background-color: #68d049;
  border: 0px solid;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  vertical-align: -1px;
  text-align: center;
  cursor: pointer;
}

form#promotor-login{
  width: 288px;
  color: #737C85;
  background-color: white;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 12px;
  text-align: left;
  border: 0px solid;
  border-radius: 5px;
}
#promotor-login input[type=text]{
  display: block;
  width: 270px;
  height: 24px;
  font-size: 14px;
  text-align: left;
  margin: 0 auto;
  padding: 4px;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
}
#promotor-login input[type=password]{
  display: block;
  width: 270px;
  height: 24px;
  font-size: 14px;
  text-align: left;
  margin: 0 auto;
  padding: 4px;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
}
#promotor-login input[type=submit]{
  display: block;
  width: 270px;
  height: 50px;
  background-color: #53BE31;
  border: 0px solid;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  transition: background-color 0.2s;
}
#promotor-login input[type=submit]:hover{
  display: block;
  width: 270px;
  height: 50px;
  background-color: #68d049;
  border: 0px solid;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

/* Fonts */
a{
  color: #5f5f5f;
  text-decoration: none;
}
a:hover{
  color: #737373;
  text-decoration: none;
}
a.white_font{
  color: white;
  text-decoration: none;
}
a.white_font:hover{
  color: #e6e6e6;
  text-decoration: none; 
}
a#link_underline:hover{
  text-decoration: underline;
}
div#text{
  text-align: center;
}
p.red{
  display: inline;
  color: red;
}
b#title{
  font-size: 20px;
}
p.linethrough{
  text-decoration: line-through;
}
.green_font{
  color: #53BE31;
}
.white_font{
  color: white;
}
.red_font{
  color: red;
}
.dark_font{
  color: #2A2E33;
}
.bold{
  font-weight: : 700;
}
.extra_bold{
  font-weight: 800;
}
.text_align_left{
  text-align: left;
  margin: 0px;
}
.text_align_center{
  text-align: center;
}
.text_align_right{
  text-align: right;
}
.float_left{
  float: left;
}
.text_center{
  display: block;
  text-align: center;
  margin: 10px auto;
}
.small_font{
  font-size: 16px;
}
.medium_font{
  font-size: 22px;
}
.big_font{
  font-size: 30px;
}
.large_font{
  font-size: 48px;
}
.zero_margin{
  margin: 0px;
}
.none_text_decoration{
  text-decoration: none;
}
.none_bold_text{
  font-weight: normal;
}
.width_auto{
  width: auto;
}
.botom_left_text{
  position: absolute;
  left: 0px;
  bottom: 0px;
}
h1#main_page_site_title{
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 48px;
}

/* Views table */
table{ 
  border-collapse: collapse; 
  line-height: 40px;
}
tr{ 
  border-bottom: 2px solid; 
  border-color: #E8EEF5;
}
tr#last_row{ 
  border-bottom: none; 
}
td#first_row{
  color: #AFB8C2;
  font-size: 12px;
  padding: 4px 0px;
  font-weight: 600;
}
td#edit_cell{
  font-size: 16px;
  padding: 4px 0px 8px 0px;
  text-align: center;
}
td{
  font-size: 16px;
  padding: 4px 0px;
}

/* Views elements */
h1#show_top_title{
  display: inline-block;
  width: 70%;
  margin: 0px;
}
div#show_top_options{
  display: inline-block;
  text-align: right;
  width: 25%;
  margin: 0px 4% 0px 0px;
}

/* Rewards show view */
div#reward_description{
  width: 100%;
  margin: 0px;
}
div#reward_images_container{
  display: block;
  margin: 0px 20px;
}
.reward_image_box{
  display: inline-block;
  position: relative;
  margin: 4px;
  border: 0px; 
  border-style: solid;
}
.reward_image{
  margin: 5px;
  color: grey;
}
.reward_image:hover{
  margin: 5px;
  color: grey;
  cursor: pointer;
}
.delete_image{
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: 0px solid;
  text-align: center;
  color: white;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.delete_image:hover{
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: 0px solid;
  text-align: center;
  color: white;
  opacity: 1;
  cursor: pointer;
}
div#reward_box{
  display: inline-block;
  float: left;
  width: 200px;;
  height: 380px;
  font-size: 12px; 
  margin: 10px;
  padding: 4px 20px 2px 20px;
  border: 1px;
  border-style: solid;
}
img#client_show_rewards{
  margin: 10px auto;
  border: 1px;
  border-style: solid; 
  color: grey;
}
.index_rewards_image{
  display: block;
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}
div#img_placeholder{
  width: 200px;
  height: 200px;
  margin: 10px 0px;
  background-color: grey;
  border: 1px;
  border-style: solid;
}
button#center{
  text-align: center;
  margin: 10px auto;
  transition: background-color 0.2s;
}
button#center:hover{
  text-align: center;
  margin: 10px auto;
}

/* Alerts */
div.info_message{
  background-color: #D4ffDA;
  width: 99%;
  padding: 6px 0px 6px 1%;
  margin: 0px;
  color: green;
}
div.warning_message{
  background-color: #E0E085;
  width: 99%;
  padding: 6px 0px 6px 1%;
  margin: 0px;
  color: white;
}
div.error_message{
  background-color: #F0D7E8;
  width: 99%;
  padding: 6px 0px 6px 1%;
  margin: 0px;
  color: red;
}
button.close{
  display: inline;
  width: 1%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
button.close:hover{
  display: inline-block;
  width: 1%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px;
  padding: 0px;
  cursor: pointer;
}
p#alert_text{
  display: inline-block;
  text-align: center;
  width: 97%;
  margin: 1px 1% 1px 1%;
  font-size: 16px;
  font-weight: 600;
}


/* Other elements */
button{
  display: block;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #CCCCCC;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  font-size: 12px;
  transition: background-color 0.2s;
}
button:hover{
  display: block;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #AAAAAA;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  font-size: 12px;
  cursor: pointer;
}
ul, li{
  list-style: none;


/* Forms */
}
input[type=text]{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px 4px 4px 4px;
  border: 1px solid;
  border-radius: 3px;
  transition: border 0.2s;
}
input[type=text]:focus{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px 4px 4px 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
}

input[type=email]{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px;
  border: 1px solid;
  border-radius: 3px;
  transition: border 0.2s;
}
input[type=email]:focus{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
}

input.date[type=text]{
  width: auto;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px;
  border: 1px solid;
  border-radius: 3px;
  transition: border 0.2s;
}
input.date[type=text]:focus{
  width: auto;
  height: 24px;
  font-size: 14px;
  text-align: left;
  padding: 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
}

input[type=password]{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  border: 1px solid;
  border-radius: 3px;
  transition: border 0.2s;
}
input[type=password]:focus{
  width: 40%;
  height: 24px;
  font-size: 14px;
  text-align: center;
  padding: 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
}

input#prize[type=text]{
  width: 10%;
  height: 24px;
  font-size: 14px;
  text-align: right;
  padding: 4px;
  border: 1px solid;
  border-radius: 3px;
}
input#prize[type=text]:focus{
  width: 10%;
  height: 24px;
  font-size: 14px;
  text-align: right;
  padding: 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
}

textarea{
  width: 40%;
  padding: 4px;
  border: 1px solid;
  border-radius: 3px;
  resize: none;
}
textarea:focus{
  width: 40%;
  padding: 4px;
  border: 1px solid #2895F1;
  border-radius: 3px;
  resize: none;
}

/*
input[type=submit]{
  display: block;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #CCCCCC;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  font-size: 12px;
  transition: background-color 0.2s;
}
input[type=submit]:hover{
  display: block;
  margin: 2px 10px 2px 10px;
  padding: 4px 10px 4px 10px;
  background-color: #AAAAAA;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  font-size: 12px;
  cursor: pointer;
}
*/

select{
  width: auto;
  height: 30px;
  border: 1px;
  border-radius: 5px 0px 0px 5px;
  border-style: solid;
  text-align: left;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

/* Admin menu */
div#admin_menu_box{
  width: 100%;
  padding: 0px;
  margin: 0px;
}
div#admin_menu_active{
  display: inline-block;
  float: left;
  width: 19.9%;
  margin: 10px 0px 40px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border: 1px;
  border-bottom: 0px;
  border-style: solid;
}
div#admin_menu_active:hover{
  display: inline-block;
  float: left;
  background-color: rgba(64, 64, 64, 0.3);
  width: 19.9%;
  margin: 10px 0px 40px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: normal;
  border: 1px;
  border-bottom: 0px;
  border-style: solid;
}
div#admin_menu_inactive{
  display: inline-block;
  float: left;
  width: 19.9%;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
}
div#admin_menu_inactive:hover{
  display: inline-block;
  float: left;
  background-color: rgba(64, 64, 64, 0.3);
  width: 19.9%;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: normal;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
}

/*Statystyki*/
div#stats_box{
  display: block;
  background-color: white;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* Use code view */
div#code_info_top{
  display: block;
  background-color: white;
  color: #2A2E33;
  width: 14%;
  padding: 20px 0px 4px 0px;
  margin: 2% auto 0px auto;
  border: 0px solid;
  border-radius: 5px 5px 0px 0px;
}
div#code_message_error{
  display: block;
  background-color: #F0D7E8;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FF0000;
  width: 10%;
  padding: 1% 2%;
  margin: 0px auto;
  border: 0px solid;
  border-radius: 0px 0px 5px 5px;
}
p.code_message_error{
  font-size: 30px;
  margin: 10px 0px 4px 0px;
  font-weight: bold;
  text-align: center;
  color: #FF0000;

}
p.code_message_confirm{
  font-size: 30px;
  margin: 10px 0px 4px 0px;
  font-weight: 600;
  text-align: center;
  color: #53BE31;

}
img#code_info_logo{
  float: left;
  width: 14%;
  margin: 0px 10px 10px 20px;
}
.inline{
  display: inline;
}
table#code_info_table{
  border: 0px solid;
  text-align: center;
  color: #737C85;
  line-height: 40px;
}
.no_border_table{
  border: none;
  line-height: 26px;
}
div#code_info_container{
  display: block;
  background-color: red;
  width: 100%;
  color: #737C85;
}
div#code_info_inline_text{
  width: 50%;
  float: left;
  font-size: 15px;
}
.clear_both{
  clear: both;
}
hr{
  color: #D5D5D5;
  border-color: #D5D5D5;
}
.opacity{
  opacity: 0.5;
}

div#confirm_code_top{
  display: block;
  background-color: white;
  color: #2A2E33;
  width: 16%;
  padding: 20px 0px 4px 0px;
  margin: 2% auto 0px auto;
  border: 0px solid;
  border-radius: 5px 5px 0px 0px;
}
div#confirm_code_message{
  display: block;
  background-color: #D4ffDA;
  color: #53BE31;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  width: 14%;
  padding: 1%;
  margin: 0px auto;
  border: 0px solid;
}
div#confirm_code_bottom{
  display: block;
  background-color: white;
  color: #737C85;
  font-size: 16px;
  width: 14%;
  padding: 1%;
  margin: 0px auto;
  border: 0px solid;
  border-radius: 0px 0px 5px 5px;
}
form#hash_email_form{
  display: block;
  background-color: white;
  color: #2A2E33;
  width: 14%;
  padding: 1%;
  margin: 0px auto;
  border: 0px solid;
  border-radius: 0px 0px 5px 5px;
}


div#codes_charts{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
div#clients_charts{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

div#login_box{
  display: block;
  position: absolute;
  top: 18%;
  left: 0;
  right: 0;
  width: 40%;
  margin: 0 auto;
  padding: 0px;
  background-color: white;
  border: 0px solid;
  border-radius: 5px;
}
.login_left_block{
  float: left;
  display: inline-block;
  width: 32%;
  height: 96%;
  padding: 1% 4%;
  margin: 0px;
  color: #464646;
}
.login_left_block h1{
  color: #53BE31;
  font-size: 36px;
}
.login_right_block{
  float: left;
  display: inline-block;
  width: 51%;
  height: 96%;
  padding: 1% 4%;
  margin: 0px;
  color: #76858F;
  border-left: 2px solid;
  border-color: #E7E7E7;
}
.login_right_block p{
  font-size: 22px;
  color: #47525D;
  font-weight: 800;
}
.login_right_block input[type=text]{
  padding: 1%;
  margin: 0px;
  color: #76858F;
  border: 1px solid;
  border-color: #76858F;
}

input[type=submit].login_submit{
  width: auto;
  height: 50px;
  background-color: #53BE31;
  border: 0px solid;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0px;
  transition: background-color 0.2s;
}
input[type=submit].login_submit:hover{
  width: auto;
  height: 50px;
  background-color: #68D049;
  border: 0px solid;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0px;
  cursor: pointer;
}

.font-10-px{
  font-size: 10px;
}
.font-12-px{
  font-size: 12px;
}
.font-14-px{
  font-size: 14px;
}
.font-16-px{
  font-size: 16px;
}
.font-18-px{
  font-size: 18px;
}
.font-20-px{
  font-size: 20px;
}
.font-22-px{
  font-size: 22px;
}
.font-24-px{
  font-size: 24px;
}
.font-26-px{
  font-size: 26px;
}
.font-28-px{
  font-size: 28px;
}
.font-30-px{
  font-size: 30px;
}

.left-margin-10-px{
  margin-left: 10px;
}
.right-margin-16-px{
  margin-right: 16px;
}
.margin-left-right-10-px{
  margin: 0px 10px;
}
.left-margin-5-percent{
  margin: 0px 0px 0px 5%;
}
.bottom-margin-10-px{
  margin: 0px 0px 10px 0px;
}
.margin-left-10-percent-bottom-10px{
  margin: 0px 0px 10px 10%;
}


img#main-layout-logo{
  display: inline-block;
  width: 7%;
  margin: auto 0px;
}
div#main-layout-user{
  width: 88%;
  margin: 0px;
  padding: 10px 1%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.color_green{
  color: #53BE31;
}
.color_red{
  color: #E05E52;
}

#side_bar .promotor_menu_actions i{
  color: #53BE31;
} 
#side_bar .promotor_menu_stats i{
  color: #71AAFF;
} 
#side_bar .promotor_menu_rewards i{
  color: #E05E52;
} 
#side_bar .promotor_menu_clients i{
  color: #986ECE;
}
#side_bar .promotor_menu_orders i{
  color: #4CB8AD;
}
#side_bar .promotor_menu_account i{
  color: #8E6581;
}
#side_bar .promotor_menu_info i{
  color: #949494;
}
#side_bar .promotor_menu_active i{
  color: white;
}
#tab-1-content{
  width: 96%;
  margin: 0px 2%;
}
#tab-2-content{
  width: 96%;
  margin: 0px 2%;
}

#notice{
  display: block;
  width: calc(96% + 2px);
  background-color: #71AAFF;
  color: white;
  margin: 0px;
  padding: 2% 2%;
}
#notice-text{
  display: inline-block;
  text-align: left;
  width: 96%;
  margin: 1px 0px 1px 0px;
  font-size: 18px;
  font-weight: 600;
  clear: both;
}
#notice-text i{
  display: inline;
  margin-right: 8px;
  font-size: 28px;
  vertical-align: -4px;
}
.close-notice{
  display: inline;
  width: 1.5%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: 26px;
  margin: 0px 1%;
  padding: 0px;
  transition: color 0.2s;
}
.close-notice:hover{
  display: inline-block;
  width: 1.5%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #B3B3B3;
  font-size: 26px;
  font-weight: bold;
  margin: 0px 1% ;
  padding: 0px;
  cursor: pointer;
}
#dropdown-menu-list{
  background-color: white;
  width: 10%;
  position: absolute;
  right: 2%;
  text-align: left;
}

.green-icon{
  color: #53BE31;
}
.red-icon{
  color: #E05E52;
}
.blue-icon{
  color: #71AAFF;
}
.light-purple-icon{
  color: #986ECE;
}
.dark-purple-icon{
  color: #8E6581;
}
.dark-green-icon{
  color: #4CB8AD;
}
.grey-icon{
  color: #949494;
}

.user-options{
  width: 16%;
  background-color: white;
  position: absolute;
  right: 2%;
  text-align: left;
  border: 2px solid;
  border-color: #CED3D8;
  border-radius: 4px;
  margin: 2px 0px 0px 0px;
  padding: 1%;
  line-height: 44px;
  z-index: 10;
}
.user{
  display: inline-block;
  font-size: 20px;
  color: #47525D;
}
.user:hover{
  display: inline-block;
  font-size: 20px;
  color: #647382;
  cursor: pointer;
}
.dropdown{
  cursor: pointer;
  font-size: 10px;
  margin: 0px 10px;
}

.stats-title{
  margin: 20px 0px;
  font-size: 28px;
}

.start-layout-top-link{
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: white;
  margin: 0px 0px 0px 2%;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.start-layout-top-link:hover{
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: white;
  margin: 0px 0px 0px 2%;
  opacity: 1;
  cursor: pointer;
}

.avatar-box{
  display: inline-block;
  position: relative;
}
.avatar{
  display: inline-block;
  background-color: #E7ECF3;
  width: 46px;
  height: 46px;
  border: 1px solid #788088;
  border-radius: 23px;
  vertical-align: -16px;
  margin: 0px;
}
.avatar:hover{
  display: inline-block;
  background-color: #E7ECF3;
  width: 46px;
  height: 46px;
  border: 1px solid #788088;
  border-radius: 23px;
  vertical-align: -16px;
  margin: 0px;
  cursor: pointer;
}

.avatar-square{
  display: inline-block;
  background-color: #E7ECF3;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.avatar-big{
  display: inline-block;
  background-color: #E7ECF3;
  width: 80px;
  height: 80px;
  border: 1px solid #788088;
  border-radius: 40px;
  vertical-align: -16px;
  margin: 0px;
}
.avatar-preview{
  display: none;
  background-color: #E7ECF3;
  width: 80px;
  height: 80px;
  border: 1px solid #788088;
  border-radius: 40px;
  vertical-align: -16px;
  margin: 0px;
}

.window-size{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.single-table{ 
  border-collapse: collapse; 
  line-height: 40px;
  width: 96%;
  margin: 10px 2%;
}
.single-table tr{ 
  border-bottom: 2px solid; 
  border-color: #E8EEF5;
}
.single-table td{
  font-size: 16px;
  padding: 4px 0px;
}

.form-page-container{
  width: 96%;
  min-height: 86vh;
  background-color: #F2F6FA;
  margin: 0px;
  padding: 2%;
}
.form-page-form input[type=text]{
  width: 500px;
  background-color: white;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 6px 4px;
  color: #5f5f5f;
  font-size: 16px;
  transition: border 0.2s;
}
.form-page-form input[type=text]:focus{
  width: 500px;
  background-color: white;
  border: 1px solid #2895F1;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 6px 4px;
  color: #5f5f5f;
  font-size: 16px;
}
.form-page-form input[type=text]:disabled{
  width: 500px;
  background-color: #DBDFE1;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 6px 4px;
  color: #5f5f5f;
  font-size: 16px;
}

.form-page-form input[type=password]{
  width: 500px;
  background-color: white;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 6px 4px;
  color: #5f5f5f;
  font-size: 16px;
  text-align: left;
  transition: border 0.2s;
}
.form-page-form input[type=password]:focus{
  width: 500px;
  background-color: white;
  border: 1px solid #2895F1;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 6px 4px;
  color: #5f5f5f;
  font-size: 16px;
  text-align: left;
}
.form-page-form input[type=password]:disabled{
  width: 500px;
  background-color: #DBDFE1;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 6px 4px;
  color: #5f5f5f;
  font-size: 16px;
  text-align: left;
  transition: border 0.2s;
}

.form-page-form input[type=text].integer-input{
  width: 100px;
  background-color: white;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 6px 4px;
  color: #5f5f5f;
  font-size: 16px;
  transition: border 0.2s;
}
.form-page-form input[type=text].integer-input:focus{
  width: 100px;
  background-color: white;
  border: 1px solid #2895F1;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 6px 4px;
  color: #5f5f5f;
  font-size: 16px;
}
.form-page-form input[type=text].integer-input:disabled{
  width: 100px;
  background-color: #DBDFE1;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 6px 4px;
  color: #5f5f5f;
  font-size: 16px;
  transition: border 0.2s;
}

.form-page-form input[type=datetime]{
  width: 140px;
  background-color: white;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 8px 3px;
  color: #5f5f5f;
  font-size: 16px;
  transition: border 0.2s;
}
.form-page-form input[type=datetime]:focus{
  width: 140px;
  background-color: white;
  border: 1px solid #2895F1;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 8px 3px;
  color: #5f5f5f;
  font-size: 16px;
}
.form-page-form input[type=datetime]:disabled{
  width: 140px;
  background-color: #DBDFE1;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 8px 3px;
  color: #5f5f5f;
  font-size: 16px;
  transition: border 0.2s;
}

.form-page-form textarea{
  width: 500px;
  height: 100px;
  background-color: white;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 8px 3px;
  color: #5f5f5f;
  font-size: 16px;
  transition: border 0.2s;
}
.form-page-form textarea:focus{
  width: 500px;
  height: 100px;
  background-color: white;
  border: 1px solid #2895F1;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 8px 3px;
  color: #5f5f5f;
  font-size: 16px;
}
.form-page-form textarea:disabled{
  width: 500px;
  height: 100px;
  background-color: #DBDFE1;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 8px 3px;
  color: #5f5f5f;
  font-size: 16px;
}

.form-page-form select{
  background-color: white;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  color: #5f5f5f;
  font-size: 16px;
}
.form-page-form select:disabled{
  background-color: #DBDFE1;
  border: 1px solid #CBD0D4;
  border-radius: 3px;
  color: #5f5f5f;
  font-size: 16px;
}

.form-page-form{
  width: 96%;
  background-color: white;
  margin: 0px;
  padding: 2%;
  border: 1px solid #DFE1E4;
}
.form-page-icon{
  display: inline-block;
  font-size: 36px;
  margin: 0px 16px 10px 0px;
  vertical-align: -5px;
}
.form-page-title{
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
}
.form-page-parent-name{
  display: block;
  font-size: 16px;
  margin: 0px 0px 20px 52px;
}
.form-page-button{
  display: inline-block;
  color: white;
  margin: 2px 20px 2px 0px;
  padding: 1% 2%;
  background-color: #007EE5;
  font-size: 16px;
  transition: background-color 0.2s;
  border: 0px solid;
  border-radius: 3px;
  line-height: 16px;
}
.form-page-button:hover{
  display: inline-block;
  color: white;
  margin: 2px 20px 2px 0px;
  padding: 1% 2%;
  background-color: #008cff;
  font-size: 16px;
  border: 0px solid;
  border-radius: 3px;
  line-height: 16px;
  cursor: pointer;
}
#form-page-file-button{
  display: none;
}
.form-page-file-upload{
  display: inline-block;
  color: white;
  margin: 2px 20px 2px 0px;
  padding: 10px;
  background-color: #007EE5;
  font-size: 16px;
  transition: background-color 0.2s;
  border: 0px solid;
  border-radius: 3px;
  line-height: 16px;
}
.form-page-file-upload:hover{
  display: inline-block;
  color: white;
  margin: 2px 20px 2px 0px;
  padding: 10px;
  background-color: #008cff;
  font-size: 16px;
  border: 0px solid;
  border-radius: 3px;
  line-height: 16px;
  cursor: pointer;
}

.form-page-file-upload i{
  color: white;
  margin: 0px 10px 0px 0px;
  font-size: 16px;
  font-weight: 600;
}

.form-page-avatar-button{
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  opacity: 0;
  transition: background-color 0.25s, opacity 0.25s;
  width: 80px;
  height: 80px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #788088;
  border-radius: 40px;
  margin: 0px;
  cursor: pointer;
  line-height: 80px;
}
.form-page-avatar-button i{
  font-size: 80px;
  margin: 0px;
  vertical-align: 6px;
}
.form-page-avatar-button:hover{
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(100, 100, 100, 0.4);
  opacity: 0.8;
  width: 80px;
  height: 80px;
  font-size: 18px;
  color: white;
  text-align: center;
  border: 1px solid #788088;
  border-radius: 40px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  line-height: 80px;
}

  .make-first-box{
    display: block;
    width: 60vw;
    height: 50vh;
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
    padding: 20vh 0px;
  }
  .make-first-button{
    display: inline-block;
    color: white;
    margin: auto;
    padding: 1%;
    background-color: #007EE5;
    font-size: 16px;
    transition: background-color 0.2s;
    border: 0px solid;
    border-radius: 3px;
    line-height: 16px;
  }
  .make-first-button i{
    display: inline;
    font-size: 22px;
    vertical-align: -3px;
    margin: 0px 10px 0px 0px;
  }
  .make-first-button:hover{
    display: inline-block;
    color: white;
    margin: auto;
    padding: 1%;
    background-color: #008cff;
    font-size: 16px;
    border: 0px solid;
    border-radius: 3px;
    line-height: 16px;
  }

  .no-results{
    display: block;
    width: 100%;
    margin: 10% 0px 0px 0px;
    font-size: 28px;
    text-align: center;
    padding: 0px;
  }

.message-404{
  display: block;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 40px;
}
.message-404 a{
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

.random-answer{
  display: block;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  border: 0px solid;
  border-radius: 5px;
  background-color: white; 
}
.get-random-answer:hover{
  cursor: pointer;
}