.new-password{
  display: block;
  background-color: white;
  width: 400px;
  border: 0px solid;
  border-radius: 5px;
  margin: 10% auto 0px auto;
  padding: 20px 20px 20px 20px;
  color: #76858F;
}

.new-password input[type=password]{
  width: 390px;
  margin: 0px 0px 10px 0px;
  padding: 4px;
  text-align: left;
  border: 1px solid #76858F;
  border-radius: 3px;
}
.new-password input[type=submit]{
  width: 400px;
  height: 50px;
  background-color: #53BE31;
  padding: 6px 0px;
  border: 0px solid;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  transition: background-color 0.2s;
}
.new-password input[type=submit]:hover{
  width: 400px;
  height: 50px;
  background-color: #68D049;
  padding: 6px 0px;
  border: 0px solid;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}