.client-login-form{
    display: none;
}
@media only screen and (min-width: 400px){
  #login{
    width: 288px;
    color: #737C85;
    background-color: white;
    margin: 0 auto;
    padding: 12px;
    text-align: left;
    border: 0px solid;
    border-radius: 5px;
  }
  #login input[type=text]{
    display: block;
    width: 278px;
    height: 24px;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    padding: 4px;
    border: 1px;
    border-radius: 3px;
    border-style: solid;
  }
  #login input[type=password]{
    display: block;
    width: 278px;
    height: 24px;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    padding: 4px;
    border: 1px;
    border-radius: 3px;
    border-style: solid;
  }
  #login input[type=submit]{
    display: block;
    width: 288px;
    height: 50px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.2s;
  }
  #login input[type=submit]:hover{
    display: block;
    width: 288px;
    height: 50px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
  }
  .form-tab-active{
    display: inline-block;
    width: 123px;
    margin: 0px;
    padding: 4px 10px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 0px;
    border-left: 1px;
    border-style: solid;
    text-align: center;
  }
  .form-tab-active:hover{
    display: inline-block;
    width: 123px;
    margin: 0px;
    padding: 4px 10px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 0px;
    border-left: 1px;
    border-style: solid;
    text-align: center;
    cursor: pointer;
  }
  .form-tab-inactive{
    display: inline-block;
    width: 123px;
    margin: 0px;
    padding: 4px 10px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    text-align: center;
  }
  .form-tab-inactive:hover{
    display: inline-block;
    width: 123px;
    margin: 0px;
    padding: 4px 10px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    text-align: center;
    cursor: pointer;
  }
}
@media only screen and (max-width: 399px){
  #login{
    width: 226px;
    color: #737C85;
    background-color: white;
    margin: 0 auto;
    padding: 12px;
    text-align: left;
    border: 0px solid;
    border-radius: 5px;
  }
  #login input[type=text]{
    display: block;
    width: 218px;
    height: 24px;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    padding: 4px;
    border: 1px;
    border-radius: 3px;
    border-style: solid;
  }
  #login input[type=password]{
    display: block;
    width: 218px;
    height: 24px;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    padding: 4px;
    border: 1px;
    border-radius: 3px;
    border-style: solid;
  }
  #login input[type=submit]{
    display: block;
    width: 226px;
    height: 50px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.2s;
  }
  #login input[type=submit]:hover{
    display: block;
    width: 226px;
    height: 50px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
  }
  .form-tab-active{
    display: inline-block;
    width: 92px;
    margin: 0px;
    padding: 4px 10px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 0px;
    border-left: 1px;
    border-style: solid;
    font-size: 14px;
    text-align: center;
  }
  .form-tab-active:hover{
    display: inline-block;
    width: 92px;
    margin: 0px;
    padding: 4px 10px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 0px;
    border-left: 1px;
    border-style: solid;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }
  .form-tab-inactive{
    display: inline-block;
    width: 92px;
    margin: 0px;
    padding: 4px 10px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    font-size: 14px;
    text-align: center;
  }
  .form-tab-inactive:hover{
    display: inline-block;
    width: 92px;
    margin: 0px;
    padding: 4px 10px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }
}