#side_bar .promotor_menu_actions i{
  color: #53BE31;
} 
#side_bar .promotor_menu_opinions i{
  color: #e9cd10;
} 
#side_bar .promotor_menu_stats i{
  color: #71AAFF;
} 
#side_bar .promotor_menu_rewards i{
  color: #E05E52;
} 
#side_bar .promotor_menu_clients i{
  color: #986ECE;
}
#side_bar .promotor_menu_orders i{
  color: #4CB8AD;
}
#side_bar .promotor_menu_account i{
  color: #8E6581;
}
#side_bar .promotor_menu_info i{
  color: #949494;
}
#side_bar .promotor_menu_mailing i{
  color: #1a75ff;
}
#side_bar .promotor_menu_account i{
  color: #8E6581;
}
#side_bar .promotor_menu_logout i{
  color: #E05E52;
}
#side_bar .promotor_menu_active i{
  color: white;
}

@media only screen and (min-width: 1000px){
  .promotor_menu_active{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
  .promotor_menu_active i{
    display: inline-block;
    width: 12%;
    font-size: 28px;
    margin: 0px 10px 0px 0px;
    vertical-align: -4px;
  }
  .promotor_menu_active:hover{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
  .promotor_menu_inactive{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
  .promotor_menu_inactive i{
    display: inline-block;
    width: 12%;
    font-size: 28px;
    margin: 0px 10px 0px 0px;
    vertical-align: -4px;
  }
  .promotor_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 16px;
    font-weight: 600;
  }
}
/*@media only screen and (max-width: 1199px) and (min-width: 1000px){
  .promotor_menu_active{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 12px;
    font-weight: 600;
  }
  .promotor_menu_active i{
    display: inline-block;
    width: 12%;
    font-size: 24px;
    margin: 0px 10px 0px 0px;
    vertical-align: -4px;
  }
  .promotor_menu_active:hover{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 12px;
    font-weight: 600;
  }
  .promotor_menu_inactive{
    display: block;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 12px;
    font-weight: 600;
  }
  .promotor_menu_inactive i{
    display: inline-block;
    width: 12%;
    font-size: 24px;
    margin: 0px 10px 0px 0px;
    vertical-align: -4px;
  }
  .promotor_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 85%;
    margin: 0px;
    padding: 5% 5% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 12px;
    font-weight: 600;
  }
}*/
@media only screen and (max-width: 999px) and (min-width: 800px){
  .promotor_menu_active{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 3% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .promotor_menu_active i{
    display: inline-block;
    font-size: 26px;
    margin: 0 auto;
    vertical-align: -2px;
  }
  .promotor_menu_active:hover{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 3% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .promotor_menu_inactive{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 3% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .promotor_menu_inactive i{
    display: inline-block;
    font-size: 26px;
    margin: 0px auto;
    vertical-align: -2px;
  }
  .promotor_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 80%;
    margin: 0px;
    padding: 3% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 799px) and (min-width: 600px){
  .promotor_menu_active{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 3% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .promotor_menu_active i{
    display: inline-block;
    font-size: 26px;
    margin: 0 auto;
    vertical-align: -2px;
  }
  .promotor_menu_active:hover{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 3% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .promotor_menu_inactive{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 3% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
  .promotor_menu_inactive i{
    display: inline-block;
    font-size: 26px;
    margin: 0 auto;
    vertical-align: -2px;
  }
  .promotor_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 80%;
    margin: 0px;
    padding: 3% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 599px) and (min-width: 500px){
  .promotor_menu_active{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 5% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 18px;
    font-weight: 600;
  }
  .promotor_menu_active i{
    display: inline-block;
    font-size: 24px;
    margin: 0 auto;
    vertical-align: -2px;
  }
  .promotor_menu_active:hover{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 5% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 18px;
    font-weight: 600;
  }
  .promotor_menu_inactive{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 18px;
    font-weight: 600;
  }
  .promotor_menu_inactive i{
    display: inline-block;
    font-size: 24px;
    margin: 0 auto;
    vertical-align: -2px;
  }
  .promotor_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 80%;
    margin: 0px;
    padding: 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 18px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 499px){
  .promotor_menu_active{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 5% 10% 5% 10%;
    color: white;
    background-color: #007EE5;
    border: 0px solid;
    font-size: 18px;
    font-weight: 600;
  }
  .promotor_menu_active i{
    display: inline-block;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    vertical-align: -2px;
  }
  .promotor_menu_active:hover{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 5% 10% 5% 10%;
    color: white;
    background-color: #008cff;
    border: 0px solid;
    font-size: 18px;
    font-weight: 600;
  }
  .promotor_menu_inactive{
    display: block;
    width: 80%;
    margin: 0px;
    padding: 5% 10% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 18px;
    font-weight: 600;
  }
  .promotor_menu_inactive i{
    display: inline-block;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    vertical-align: -2px;
  }
  .promotor_menu_inactive:hover{
    display: block;
    background-color: #eff8ff;
    width: 80%;
    margin: 0px;
    padding: 5% 10% 5% 10%;
    color: #505A64;
    border: 0px solid;
    font-size: 18px;
    font-weight: 600;
  }
}