@font-face {
  font-family: "ClearSans";
  src: url(/assets/fonts/ClearSans/ClearSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "ClearSans Bold";
  src: url(/assets/fonts/ClearSans/ClearSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "ClearSans Thin";
  src: url(/assets/fonts/ClearSans/ClearSans-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "ClearSans Light";
  src: url(/assets/fonts/ClearSans/ClearSans-Light.ttf) format("truetype");
}

a {
	text-decoration: none;
	color: inherit;
}
a:visited {
	text-decoration: none;
	color: inherit;
}

.anchor {
	height: 0px;
	margin: 0px;
	padding: 0px;
}

#home-page {
	min-width: 300px;
	font-family: "ClearSans";
	padding: 0px 0px 0px 0px;
}















/*#home-page .btn {
	background-color: #D40032;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: white;
	margin: 14px 0px;
	padding: 14px 20px;
	border-width: 0px;
	border-radius: 3px;
	border-style: solid;
	cursor: pointer;
	transition: background-color 0.2s;
}
#home-page .btn:hover {
	background-color: #e60036;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: white;
	margin: 14px 0px;
	padding: 14px 20px;
	border-width: 0px;
	border-radius: 3px;
	border-style: solid;
	cursor: pointer;
}
#home-page a.btn {
	text-decoration: none;
	border: none;
}*/









/* Promotor application form */

#home-page .join-form {
	display: none;
	width: 100%;
	color: white;
	font-family: 'ClearSans';
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
#home-page .join-form .header{
	display: block;
	background-color: #D40032;
	background-image: url('/assets/image/home/code-form.jpg');
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	font-family: 'ClearSans Bold';
	font-size: 56px;
	text-align: center;
	margin: 0px 0px 40px 0px;
	padding: 40px 0px;
}
#home-page .join-form .header img{
	display: block;
	width: 80px;
	margin: 0px auto;
}
#home-page .join-form form {
	display: block;
	width: 500px;
	margin: 0px auto 60px auto;
}
#home-page .join-form input[type=text], #home-page .join-form input[type=email] {
	display: block;
	width: 100%;
	font-family: 'ClearSans';
	font-size: 16px;
	color: #212121;
	margin: 0px auto;
	padding: 16px;
	border-width: 1px;
	border-radius: 0px;
	border-color: #CECECE;
	border-style: solid;
}
#home-page .join-form input.first {
	border-width: 1px;
	border-radius: 5px 5px 0px 0px;
}
#home-page .join-form input.last {
	border-radius: 0px 0px 5px 5px;
}

#home-page .join-form input[type=submit] {
	display: block;
	background-color: #D40032;
	width: 100%;
	font-family: 'ClearSans';
	font-size: 16px;
	color: white;
	font-weight: 700;
	margin: 20px auto 10px auto;
	padding: 16px 0px;
	border-width: 0px;
	border-radius: 5px;
	border-style: solid;
	transition: background-color 0.2s;
}
#home-page .join-form input[type=submit]:hover {
	display: block;
	background-color: #e60036;
	width: 100%;
	font-family: 'ClearSans';
	font-size: 16px;
	color: white;
	font-weight: 700;
	margin: 20px auto 10px auto;
	padding: 16px 0px;
	border-width: 0px;
	border-radius: 5px;
	border-style: solid;
	cursor: pointer;
}
#home-page .join-form span {
	display: block;
	width: 400px;
	font-family: 'ClearSans';
	font-size: 16px;
	text-align: center;
	margin: 0px auto;
	padding: 0px;
	cursor: pointer;
}

@media only screen and (max-width: 799px) and (min-width: 600px) {
	#home-page .join-form {
		margin: 0px auto 0px auto;
		padding: 0px 0px 0px 0px;
	}
	#home-page .join-form .header{
		width: 100%;
		font-size: 46px;
		margin: 0px 0px 40px 0px;
		padding: 40px 20px;
	}
	#home-page .join-form .header img{
		width: 80px;
		margin: 0px auto;
	}
	#home-page .join-form form {
		width: 360px;
		margin: 0px auto 60px auto;
	}
	#home-page .join-form input[type=text], #home-page .join-form input[type=email] {
		width: 100%;
		font-size: 16px;
		margin: -1px auto 0px auto;
		padding: 16px;
	}
	#home-page .join-form input.first {
		margin: 0px auto;
		border-radius: 5px 5px 0px 0px;
	}
	#home-page .join-form input.last {
		border-radius: 0px 0px 5px 5px;
	}

	#home-page .join-form input[type=submit] {
		width: 100%;
		font-size: 16px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form input[type=submit]:hover {
		width: 100%;
		font-size: 16px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form span {
		width: 90%;
		font-size: 16px;
		margin: 0px auto;
		padding: 0px;
	}
}
@media only screen and (max-width: 599px) and (min-width: 400px) {
	#home-page .join-form {
		margin: 0px auto 0px auto;
		padding: 0px 0px 0px 0px;
	}
	#home-page .join-form .header{
		width: 100%;
		font-size: 38px;
		margin: 0px 0px 40px 0px;
		padding: 40px 20px;
	}
	#home-page .join-form .header img{
		width: 80px;
		margin: 0px auto;
	}
	#home-page .join-form form {
		width: 360px;
		margin: 0px auto 60px auto;
	}
	#home-page .join-form input[type=text], #home-page .join-form input[type=email] {
		width: 100%;
		font-size: 14px;
		margin: -1px auto 0px auto;
		padding: 16px;
	}
	#home-page .join-form input.first {
		margin: 0px auto;
		border-radius: 5px 5px 0px 0px;
	}
	#home-page .join-form input.last {
		border-radius: 0px 0px 5px 5px;
	}

	#home-page .join-form input[type=submit] {
		width: 100%;
		font-size: 14px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form input[type=submit]:hover {
		width: 100%;
		font-size: 14px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form span {
		width: 90%;
		font-size: 14px;
		margin: 0px auto;
		padding: 0px;
	}
}
@media only screen and (max-width: 399px) {
	#home-page .join-form {
		margin: 0px auto 0px auto;
		padding: 0px 0px 0px 0px;
	}
	#home-page .join-form .header{
		width: 100%;
		font-size: 32px;
		margin: 0px 0px 40px 0px;
		padding: 40px 20px;
	}
	#home-page .join-form .header img{
		width: 80px;
		margin: 0px auto;
	}
	#home-page .join-form form {
		width: 90%;
		margin: 0px auto 60px auto;
	}
	#home-page .join-form input[type=text], #home-page .join-form input[type=email] {
		width: 100%;
		font-size: 14px;
		margin: -1px auto 0px auto;
		padding: 16px;
	}
	#home-page .join-form input.first {
		margin: 0px auto;
		border-radius: 5px 5px 0px 0px;
	}
	#home-page .join-form input.last {
		border-radius: 0px 0px 5px 5px;
	}

	#home-page .join-form input[type=submit] {
		width: 100%;
		font-size: 14px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form input[type=submit]:hover {
		width: 100%;
		font-size: 14px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form span {
		width: 90%;
		font-size: 14px;
		margin: 0px auto;
		padding: 0px;
	}
}

/* Promotor application form end */