@font-face {
  font-family: "ClearSans";
  src: url(/assets/fonts/ClearSans/ClearSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "ClearSans Bold";
  src: url(/assets/fonts/ClearSans/ClearSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "ClearSans Thin";
  src: url(/assets/fonts/ClearSans/ClearSans-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "ClearSans Light";
  src: url(/assets/fonts/ClearSans/ClearSans-Light.ttf) format("truetype");
}

a {
	text-decoration: none;
	color: inherit;
}
a:visited {
	text-decoration: none;
	color: inherit;
}

.anchor {
	height: 0px;
	margin: 0px;
	padding: 0px;
}

#home-page {
	min-width: 300px;
	font-family: "ClearSans";
	padding: 0px 0px 0px 0px;
}


/*
#home-page .alert {
	display: block;
	width: 100%;
	margin: 0px;
	border-width: 1px;
	border-radius: 0px;
	border-style: solid;
}
*/




#home-page .code .contest .rating-selection label:first-of-type {
  display: none;
}
#home-page .code .contest .rating-selection input[type='radio'],
#home-page .code .contest .rating-selection span {
  display: none;
}
#home-page .code .contest .rating-selection label {
  cursor: pointer;
}
#home-page .code .contest .rating-selection input:checked + label ~ label:before {
  color: #aaa;
}
#home-page .code .contest .rating-selection:hover label[for]:before {
  color: #e9cd10;
}
#home-page .code .contest .rating-selection:hover label:hover ~ label:before {
  color: #aaa;
}

#home-page .code .contest .rating-selection {
    display: block;
    margin: 0px auto 20px auto;
    padding: 0px;
    text-align: center;
}
#home-page .code .contest .rating-selection label:before {
    display: inline-block;
    content: "★";
    font-size: 76px;
    letter-spacing: 0px;
    color: #e9cd10;
    text-align: center;
}
#home-page .code .contest input[type=email] {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	margin: 0px 6px 0px 0px;
	padding: 0px 14px;
	border-width: 0px;
	border-radius: 1px;
	border-style: none;
	vertical-align: middle;
}
#home-page .code .contest textarea {
	display: block;
	width: 100%;
	height: 200px;
	font-size: 18px;
	margin: 0px 6px 0px 0px;
	padding: 14px 14px;
	border-width: 0px;
	border-radius: 1px;
	border-style: none;
	vertical-align: middle;
	resize: none;
}
#home-page .code .contest input[type=submit] {
	display: block;
	background-color: #FFFFFF;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #D40032;
	margin: 10px 0px 0px auto;
	padding: 0px 14px;
	border-width: 0px;
	border-radius: 1px;
	border-style: none;
	vertical-align: middle;
	cursor: pointer;
	transition: background-color 0.2s;
}
#home-page .code .contest input[type=submit]:hover {
	display: block;
	background-color: #F4F4F4;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #D40032;
	margin: 10px 0px 0px auto;
	padding: 0px 14px;
	border-width: 0px;
	border-radius: 1px;
	border-style: none;
	vertical-align: middle;
	cursor: pointer;
}
#home-page .code .contest input[type=submit]:disabled {
	display: block;
	background-color: #C2C2C2;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #D40032;
	margin: 10px 0px 0px auto;
	padding: 0px 14px;
	border-width: 0px;
	border-radius: 1px;
	border-style: none;
	vertical-align: middle;
	cursor: default;
}
#home-page .code .contest .promotor {
	display: block;
	width: 529px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: white;
	margin: 0px 0px 10px 0px;
}
#home-page .code .contest .question {
	display: block;
	width: 529px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	color: white;
}
#home-page .code .contest .note {
	display: inline-block;
	width: 510px;
	color: white;
	vertical-align: middle;
}
#home-page .code .contest .status {
	background-color: white;
	width: 529px;
	text-align: center;
	color: #D40032;
	margin: 10px auto;
	padding: 10px;
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
	#home-page .code .contest {
		display: block;
		width: 90%;
		max-width: 360px;
		margin: 0 auto;
		padding: 0px;
	}
	#home-page .code .contest .rating-selection {
	    margin: 0px auto 20px auto;
	    padding: 0px;
	}
	#home-page .code .contest .rating-selection label:before {
	    font-size: 68px;
	}
	#home-page .code .contest input[type=email] {
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		margin: 0px 6px 0px 0px;
		padding: 0px 14px;
	}
	#home-page .code .contest input[type=submit] {
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		margin: 10px 0px 0px auto;
		padding: 0px 14px;
	}
	#home-page .code .contest input[type=submit]:hover {
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		margin: 10px 0px 0px auto;
		padding: 0px 14px;
	}
	#home-page .code .contest input[type=submit]:disabled {
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		margin: 10px 0px 0px auto;
		padding: 0px 14px;
	}
	#home-page .code .contest .promotor {
		width: 100%;
		font-size: 18px;
		margin: 0px 0px 10px 0px;
	}
	#home-page .code .contest .question {
		width: 100%;
		font-size: 24px;
	}
	#home-page .code .contest .note {
		width: 92%;
		font-size: 12px;
	}
	#home-page .code .contest .status {
		width: 100%;
		margin: 10px auto;
		padding: 10px;
	}
}
@media only screen and (max-width: 399px) {
	#home-page .code .contest {
		display: block;
		width: 90%;
		margin: 0 auto;
		padding: 0px;
	}
	#home-page .code .contest .rating-selection {
	    margin: 0px auto 20px auto;
	    padding: 0px;
	}
	#home-page .code .contest .rating-selection label:before {
	    font-size: 42px;
	}
	#home-page .code .contest input[type=email] {
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		margin: 0px 6px 0px 0px;
		padding: 0px 14px;
	}
	#home-page .code .contest input[type=submit] {
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		margin: 10px 0px 0px auto;
		padding: 0px 14px;
	}
	#home-page .code .contest input[type=submit]:hover {
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		margin: 10px 0px 0px auto;
		padding: 0px 14px;
	}
	#home-page .code .contest input[type=submit]:disabled {
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		margin: 10px 0px 0px auto;
		padding: 0px 14px;
	}
	#home-page .code .contest .promotor {
		width: 100%;
		font-size: 18px;
		margin: 0px 0px 10px 0px;
	}
	#home-page .code .contest .question {
		width: 100%;
		font-size: 24px;
	}
	#home-page .code .contest .note {
		width: 92%;
		font-size: 12px;
	}
	#home-page .code .contest .status {
		width: 529px;
		margin: 10px auto;
		padding: 10px;
	}
}




/*#home-page .btn {
	background-color: #D40032;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: white;
	margin: 14px 0px;
	padding: 14px 20px;
	border-width: 0px;
	border-radius: 3px;
	border-style: solid;
	cursor: pointer;
	transition: background-color 0.2s;
}
#home-page .btn:hover {
	background-color: #e60036;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: white;
	margin: 14px 0px;
	padding: 14px 20px;
	border-width: 0px;
	border-radius: 3px;
	border-style: solid;
	cursor: pointer;
}
#home-page a.btn {
	text-decoration: none;
	border: none;
}*/









/* Promotor application form */

#home-page .join-form {
	display: none;
	width: 100%;
	color: white;
	font-family: 'ClearSans';
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
#home-page .join-form .header{
	display: block;
	background-color: #D40032;
	background-image: url('/assets/image/home/code-form.jpg');
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	font-family: 'ClearSans Bold';
	font-size: 56px;
	text-align: center;
	margin: 0px 0px 40px 0px;
	padding: 40px 0px;
}
#home-page .join-form .header .close-form {
	display: block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 42px;
	text-align: center;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	opacity: 0.5;
	transition: opacity 0.2s;
}
#home-page .join-form .header .close-form:hover {
	display: block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 42px;
	text-align: center;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	opacity: 1;
	cursor: pointer;
}
#home-page .join-form .header img{
	display: block;
	width: 80px;
	margin: 0px auto;
}
#home-page .join-form form {
	display: block;
	width: 500px;
	margin: 0px auto 60px auto;
}
#home-page .join-form input[type=text], #home-page .join-form input[type=email] {
	display: block;
	width: 100%;
	font-family: 'ClearSans';
	font-size: 16px;
	color: #212121;
	margin: 0px auto;
	padding: 16px;
	border-width: 1px;
	border-radius: 0px;
	border-color: #CECECE;
	border-style: solid;
}
#home-page .join-form input.first {
	border-width: 1px;
	border-radius: 5px 5px 0px 0px;
}
#home-page .join-form input.last {
	border-radius: 0px 0px 5px 5px;
}

#home-page .join-form input[type=submit] {
	display: block;
	background-color: #D40032;
	width: 100%;
	font-family: 'ClearSans';
	font-size: 16px;
	color: white;
	font-weight: 700;
	margin: 20px auto 10px auto;
	padding: 16px 0px;
	border-width: 0px;
	border-radius: 5px;
	border-style: solid;
	transition: background-color 0.2s;
}
#home-page .join-form input[type=submit]:hover {
	display: block;
	background-color: #e60036;
	width: 100%;
	font-family: 'ClearSans';
	font-size: 16px;
	color: white;
	font-weight: 700;
	margin: 20px auto 10px auto;
	padding: 16px 0px;
	border-width: 0px;
	border-radius: 5px;
	border-style: solid;
	cursor: pointer;
}
#home-page .join-form span {
	display: block;
	width: 400px;
	font-family: 'ClearSans';
	font-size: 16px;
	text-align: center;
	margin: 0px auto;
	padding: 0px;
	cursor: pointer;
}

@media only screen and (max-width: 799px) and (min-width: 600px) {
	#home-page .join-form {
		margin: 0px auto 0px auto;
		padding: 0px 0px 0px 0px;
	}
	#home-page .join-form .header{
		width: 100%;
		font-size: 46px;
		margin: 0px 0px 40px 0px;
		padding: 40px 20px;
	}
	#home-page .join-form .header img{
		width: 80px;
		margin: 0px auto;
	}
	#home-page .join-form form {
		width: 360px;
		margin: 0px auto 60px auto;
	}
	#home-page .join-form input[type=text], #home-page .join-form input[type=email] {
		width: 100%;
		font-size: 16px;
		margin: -1px auto 0px auto;
		padding: 16px;
	}
	#home-page .join-form input.first {
		margin: 0px auto;
		border-radius: 5px 5px 0px 0px;
	}
	#home-page .join-form input.last {
		border-radius: 0px 0px 5px 5px;
	}

	#home-page .join-form input[type=submit] {
		width: 100%;
		font-size: 16px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form input[type=submit]:hover {
		width: 100%;
		font-size: 16px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form span {
		width: 90%;
		font-size: 16px;
		margin: 0px auto;
		padding: 0px;
	}
}
@media only screen and (max-width: 599px) and (min-width: 400px) {
	#home-page .join-form {
		margin: 0px auto 0px auto;
		padding: 0px 0px 0px 0px;
	}
	#home-page .join-form .header{
		width: 100%;
		font-size: 38px;
		margin: 0px 0px 40px 0px;
		padding: 40px 20px;
	}
	#home-page .join-form .header img{
		width: 80px;
		margin: 0px auto;
	}
	#home-page .join-form form {
		width: 360px;
		margin: 0px auto 60px auto;
	}
	#home-page .join-form input[type=text], #home-page .join-form input[type=email] {
		width: 100%;
		font-size: 14px;
		margin: -1px auto 0px auto;
		padding: 16px;
	}
	#home-page .join-form input.first {
		margin: 0px auto;
		border-radius: 5px 5px 0px 0px;
	}
	#home-page .join-form input.last {
		border-radius: 0px 0px 5px 5px;
	}

	#home-page .join-form input[type=submit] {
		width: 100%;
		font-size: 14px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form input[type=submit]:hover {
		width: 100%;
		font-size: 14px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form span {
		width: 90%;
		font-size: 14px;
		margin: 0px auto;
		padding: 0px;
	}
}
@media only screen and (max-width: 399px) {
	#home-page .join-form {
		margin: 0px auto 0px auto;
		padding: 0px 0px 0px 0px;
	}
	#home-page .join-form .header{
		width: 100%;
		font-size: 32px;
		margin: 0px 0px 40px 0px;
		padding: 40px 20px;
	}
	#home-page .join-form .header img{
		width: 80px;
		margin: 0px auto;
	}
	#home-page .join-form form {
		width: 90%;
		margin: 0px auto 60px auto;
	}
	#home-page .join-form input[type=text], #home-page .join-form input[type=email] {
		width: 100%;
		font-size: 14px;
		margin: -1px auto 0px auto;
		padding: 16px;
	}
	#home-page .join-form input.first {
		margin: 0px auto;
		border-radius: 5px 5px 0px 0px;
	}
	#home-page .join-form input.last {
		border-radius: 0px 0px 5px 5px;
	}

	#home-page .join-form input[type=submit] {
		width: 100%;
		font-size: 14px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form input[type=submit]:hover {
		width: 100%;
		font-size: 14px;
		margin: 20px auto 10px auto;
		padding: 16px 0px;
	}
	#home-page .join-form span {
		width: 90%;
		font-size: 14px;
		margin: 0px auto;
		padding: 0px;
	}
}

/* Promotor application form end */