/*@media only screen and (min-width: 400px){
  .confirm-code-top{
    display: block;
    background-color: white;
    color: #737C85;
    width: 328px;
    padding: 20px 0px 4px 0px;
    margin: 40px auto 0px auto;
    border: 0px solid;
    border-radius: 5px 5px 0px 0px;
  }
  .confirm_code_message{
    display: block;
    background-color: #D4ffDA;
    color: #53BE31;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    width: 288px;
    padding: 20px;
    margin: 0px auto;
    border: 0px solid;
  }
  .confirm_code_bottom{
    display: block;
    background-color: white;
    color: #737C85;
    font-size: 16px;
    width: 308px;
    padding: 20px 10px;
    margin: 0px auto;
    border: 0px solid;
    border-radius: 0px 0px 5px 5px;
  }
  .confirm_code_bottom button {
    width: 268px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    transition: background-color 0.2s;
  }
  .confirm_code_bottom button:hover {
    width: 268px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    cursor: pointer;
  }
  .code_info_top{
    display: block;
    background-color: white;
    color: #2A2E33;
    width: 268px;
    padding: 20px 0px 4px 0px;
    margin: 2% auto 0px auto;
    border: 0px solid;
    border-radius: 5px 5px 0px 0px;
  }
  .code_message_error{
    display: block;
    background-color: #F0D7E8;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FF0000;
    width: 288px;
    padding: 20px;
    margin: 0 auto;
    border: 0px solid;
    border-radius: 0px 0px 5px 5px;
  }
  .code_message_error p{
    font-size: 30px;
    margin: 10px 0px 4px 0px;
    font-weight: bold;
    text-align: center;
    color: #FF0000;

  }
  .confirm_code_message p{
    font-size: 30px;
    margin: 10px 0px 4px 0px;
    font-weight: 600;
    text-align: center;
    color: #53BE31;
  }
  .code-info-avatar{
    display: inline-block;
    background-color: #E7ECF3;
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 20px;
    vertical-align: middle;
  }
  .code-info-title{
    display: inline-block;
    width: 50%;
    font-size: 15px;
    vertical-align: middle;
  }
  .code-info-title p{
    margin: 0px;
    color: #2A2E33;
    font-weight: 700;
    font-size: 18px;
  }
  .code-info-table{
    text-align: center;
    width: 286px;
    margin: 0px 20px;
    line-height: 26px;
  }
  .code-info-table tr{
    border: none;
  }
  .code-info-table td.left-first{
    font-size: 14px;
    text-align: left;
  }
  .code-info-table td.right-first{
    font-size: 14px;
    text-align: right;
  }
  .code-info-table td.left{
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    color: #2A2E33;
  }
  .code-info-table td.right{
    font-size: 26px;
    font-weight: 700;
    text-align: right;
    color: #53BE31;
  }
  .no_border_table{
    border: none;
    line-height: 26px;
  }
}
@media only screen and (max-width: 399px){
  .confirm-code-top{
    display: block;
    background-color: white;
    color: #737C85;
    width: 240px;
    padding: 20px 0px 4px 0px;
    margin: 30px auto 0px auto;
    border: 0px solid;
    border-radius: 5px 5px 0px 0px;
  }
  .confirm_code_message{
    display: block;
    background-color: #D4ffDA;
    color: #53BE31;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
    width: 200px;
    padding: 10px 20px;
    margin: 0 auto;
    border: 0px solid;
  }
  .confirm_code_bottom{
    display: block;
    background-color: white;
    color: #737C85;
    font-size: 12px;
    width: 200px;
    padding: 20px;
    margin: 0px auto;
    border: 0px solid;
    border-radius: 0px 0px 5px 5px;
  }
  .confirm_code_bottom button {
    width: 192px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 0px auto;
    padding: 6px;
    transition: background-color 0.2s;
  }
  .confirm_code_bottom button:hover {
    width: 192px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 0px auto;
    padding: 6px;
    cursor: pointer;
  }
  .code_info_top{
    display: block;
    background-color: white;
    color: #2A2E33;
    width: 268px;
    padding: 10px 0px 2px 0px;
    margin: 2% auto 0px auto;
    border: 0px solid;
    border-radius: 5px 5px 0px 0px;
  }
  .code_message_error{
    display: block;
    background-color: #F0D7E8;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #FF0000;
    width: 200px;
    padding: 20px;
    margin: 0px auto;
    border: 0px solid;
    border-radius: 0px 0px 5px 5px;
  }
  .code_message_error p{
    font-size: 26px;
    margin: 10px 0px 4px 0px;
    font-weight: bold;
    text-align: center;
    color: #FF0000;
  }
  .code_message_confirm p{
    font-size: 28px;
    margin: 10px 0px 4px 0px;
    font-weight: 600;
    text-align: center;
    color: #53BE31;
  }
  .code-info-avatar{
    display: inline-block;
    background-color: #E7ECF3;
    width: 50px;
    height: 50px;
    margin: 0px 5px 0px 20px;
    vertical-align: middle;
  }
  .code-info-title{
    display: inline-block;
    width: 50%;
    font-size: 12px;
    vertical-align: middle;
  }
  .code-info-title p{
    margin: 0px;
    color: #2A2E33;
    font-weight: 700;
    font-size: 14px;
  }
  .code-info-table{
    text-align: center;
    width: 200px;
    margin: 0px 20px;
    line-height: 18px;
  }
  .code-info-table tr{
    border: none;
  }
  .code-info-table td.left-first{
    font-size: 10px;
    text-align: left;
  }
  .code-info-table td.right-first{
    font-size: 10px;
    text-align: right;
  }
  .code-info-table td.left{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #2A2E33;
  }
  .code-info-table td.right{
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    color: #53BE31;
  }
  .no_border_table{
    border: none;
    line-height: 26px;
  }
}*/

/*@media only screen and (min-width: 481px){
  div#use_code_container{
    width: 340px;
    margin: 60px auto;
  }
  .use-code-table{
    text-align: center;
    width: 100%;
    margin: 0px;
    line-height: 26px;
  }
  .use-code-table tr{
    border: none;
  }
  .use-code-table td.left-first{
    font-size: 14px;
    text-align: left;
  }
  .use-code-table td.right-first{
    font-size: 14px;
    text-align: right;
  }
  .use-code-table td.left{
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    color: #2A2E33;
  }
  .use-code-table td.right{
    font-size: 26px;
    font-weight: 700;
    text-align: right;
    color: #53BE31;
  }
  .use-code-avatar{
    display: inline-block;
    background-color: #E7ECF3;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  form#use_code{
    background: white;
    color: #737C85;
    width: 90%;
    margin: 0px auto;
    padding: 5%;
    border: 0px solid;
    border-radius: 0px 0px 5px 5px;
  }
  #use_code label{
    margin: 0px;
  }
  div.use_code_top{
    background: white;
    color: #737C85;
    width: 90%;
    margin: 0px auto;
    padding: 5%;
    text-align: center;
    border: 0px solid;
    border-radius: 5px 5px 0px 0px;
  }
  #use_code input[type=submit]{
    width: 100%;
    height: 50px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
    transition: background-color 0.2s;
  }
  #use_code input[type=submit]:hover{
    width: 100%;
    height: 50px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
  }
  #use_code input[type=text]{
    width: 96%;
    color: #737C85;
    font-size: 20px;
    margin: 0px auto;
    border: 1px solid;
    border-radius: 5px;
  }
  #use_code input[type=email]{
    width: 96%;
    color: #737C85;
    font-size: 20px;
    margin: 0px auto;
    border: 1px solid;
    border-radius: 5px;
  }
  #use_code div.use-code-phone-number {
    display: inline-block;
    width: 14%;
    text-align: center;
    font-weight: 700;
    color: #737C85;
    font-size: 20px;
    margin: 0px auto;
    padding: 4px 0px 5px 0px;
    border-top: 1px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 1px;
    border-radius: 5px 0px 0px 5px;
    border-style: solid;
  }
  #use_code input.use-code-phone-number {
    display: inline-block;
    width: 82%;
    color: #737C85;
    font-size: 20px;
    margin: 0px auto;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
    border-style: solid;
  }
  #use_code_container .promotor-name{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
  }
  #use_code_container .action-name{
    margin: 0px;
    padding: 0px;
    color: #2A2E33;
    font-size: 26px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 480px){
  div#use_code_container{
    width: 260px;
    margin: 30px auto;
  }
  .use-code-table{
    text-align: center;
    width: 100%;
    margin: 0px;
    line-height: 20px;
  }
  .use-code-table tr{
    border: none;
  }
  .use-code-table td.left-first{
    font-size: 10px;
    text-align: left;
  }
  .use-code-table td.right-first{
    font-size: 10px;
    text-align: right;
  }
  .use-code-table td.left{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #2A2E33;
  }
  .use-code-table td.right{
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    color: #53BE31;
  }
  .use-code-avatar{
    display: inline-block;
    background-color: #E7ECF3;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  form#use_code{
    background: white;
    color: #737C85;
    width: 90%;
    margin: 0px auto;
    padding: 5%;
    border: 0px solid;
    border-radius: 0px 0px 5px 5px;
  }
  #use_code label{
    font-size: 12px;
    margin: 0px;
  }
  div.use_code_top{
    background: white;
    color: #737C85;
    width: 90%;
    margin: 0px auto;
    padding: 5%;
    text-align: center;
    border: 0px solid;
    border-radius: 5px 5px 0px 0px;
  }
  #use_code input[type=submit]{
    width: 100%;
    height: 40px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 10px 0px 5px 0px;
    transition: background-color 0.2s;
  }
  #use_code input[type=submit]:hover{
    width: 100%;
    height: 40px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 10px 0px 5px 0px;
    cursor: pointer;
  }
  #use_code input[type=text]{
    width: 96%;
    height: 18px;
    color: #737C85;
    font-size: 16px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
  }
  #use_code input[type=email]{
    width: 96%;
    height: 18px;
    color: #737C85;
    font-size: 16px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
  }
  #use_code div.use-code-phone-number {
    display: inline-block;
    float: left;
    width: 14%;
    text-align: center;
    font-weight: 700;
    color: #737C85;
    font-size: 16px;
    margin: 0 auto;
    padding: 3px 0px 4px 0px;
    vertical-align: 4px;
    border-top: 1px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 1px;
    border-radius: 5px 0px 0px 5px;
    border-style: solid;
  }
  #use_code input.use-code-phone-number {
    display: inline-block;
    float: left;
    width: calc(82% - 1px);
    height: 18px;
    color: #737C85;
    font-size: 16px;
    margin: 0 auto;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
    border-style: solid;
  }
  #use_code_container .promotor-name{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }
  #use_code_container .action-name{
    margin: 0px;
    padding: 0px;
    color: #2A2E33;
    font-size: 20px;
    font-weight: 700;
  }
}*/

@media only screen and (min-width: 400px) {
  #confirmation {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  #confirmation .confirmation-top {
    display: block;
    width: 360px;
    padding: 19px 0px;
    margin: 0 auto;
  }
  #confirmation .confirmation-block-title {
    display: block;
    width: 360px;
    margin: 20px 0px 4px 0px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    opacity: 0.5;
  }
  #confirmation .confirmation-promotor-info {
    display: block;
    width: 360px;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  #confirmation .confirmation-promotor-info span{
    display: inline-block;
    width: 296px;
    padding: 0px;
    margin: 0px 4px;
    font-size: 26px;
    font-weight: 700;
    vertical-align: middle;
  }
  #confirmation .confirmation-avatar{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px;
    vertical-align: middle;
  }
  #confirmation .confirmation-action-name{
    display: block;
    width: 360px;
    margin: 0px 0px 10px 0px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
  }
  #confirmation table {
    width: 360px;
  }
  #confirmation table tr {
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin: 0px;
    padding: 0px;
    line-height: 30px;
  }
  #confirmation table td {
    width: 50%;
    text-align: center;
    padding: 0px;
  }
  #confirmation table td.confirmation-code{
    font-size: 28px;
  }
  #confirmation table td.confirmation-prize {
    font-size: 28px;
    color: #53BE31
  }
  #confirmation .confirmation-message {
    background-color: #D4ffDA;
    width: 100%;
    margin: 10px 0px 40px 0px;
    padding: 10px 0px;
  }
  #confirmation .confirmation-message div{
    width: 360px;
    color: #53BE31;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    padding: 0px;
    line-height: 24px;
  }
  #confirmation .confirmation-message p {
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
  }
  #confirmation button {
    display: block;
    width: 360px;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 16px 12px;
    transition: background-color 0.2s;
  }
  #confirmation button:hover {
    display: block;
    width: 360px;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 16px 12px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 399px){
  #confirmation {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  #confirmation .confirmation-top {
    display: block;
    width: 90%;
    padding: 5% 0px;
    margin: 0 auto;
  }
  #confirmation .confirmation-block-title{
    display: block;
    width: 100%;
    margin: 20px 0px 4px 0px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    opacity: 0.5;
  }
  #confirmation .confirmation-promotor-info {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  #confirmation .confirmation-promotor-info span{
    display: inline-block;
    width: calc(100% - 64px);
    padding: 0px;
    margin: 0px 4px;
    font-size: 26px;
    font-weight: 700;
    vertical-align: middle;
  }
  #confirmation .confirmation-avatar{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px;
    vertical-align: middle;
  }
  #confirmation .confirmation-action-name{
    display: block;
    width: 100%;
    margin: 0px 0px 10px 0px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
  }
  #confirmation table {
    width: 100%;
  }
  #confirmation table tr {
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin: 0px;
    padding: 0px;
    line-height: 30px;
  }
  #confirmation table td {
    width: 50%;
    text-align: center;
    padding: 0px;
  }
  #confirmation table td.confirmation-code {
    font-size: 28px;
  }
  #confirmation table td.confirmation-prize {
    font-size: 28px;
    color: #53BE31
  }
  #confirmation .confirmation-message {
    background-color: #D4ffDA;
    width: 100%;
    margin: 10px 0px 40px 0px;
    padding: 10px 0px;
  }
  #confirmation .confirmation-message div{
    width: 90%;
    color: #53BE31;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    padding: 0px;
    line-height: 24px;
  }
  #confirmation .confirmation-message p {
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
  }
  #confirmation button {
    display: block;
    width: 90%;
    background-color: #53BE31;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 16px 0px;
    transition: background-color 0.2s;
  }
  #confirmation button:hover {
    display: block;
    width: 90%;
    background-color: #68d049;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 16px 0px;
    cursor: pointer;
  }
}
#confirmation .link {
  display: block;
  color: white;
  font-size: 14px;
  text-align: center;
  opacity: 1;
  margin: 20px auto;
  transition: opacity 0.2s;
}
#confirmation .link:hover {
  display: block;
  color: white;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
  margin: 20px auto;
}